<% include ../partials/header.ejs %>

<% include ../partials/session_search.ejs %>


<div class="row">
    <div class="col-lg-12">
        <div class="session_types ">

            <h2 class="izberi-vrsto-seje">
                Izberi vrsto seje
            </h2>
            <ul class="clearfix">
                <li>
                    <a href="/seje/tip/seje-dz" class="active">
                        Seje DZ
                    </a>
                </li>
                <li>
                    <a href="/seje/tip/seje-delovnih-teles">
                        Seje delovnih<br> teles
                    </a>
                </li>
                <li>
                    <a href="/seje/tip/seje-kolegija-predsednika-dz">
                        Seje kolegija <br>predsednika DZ
                    </a>
                </li>
            </ul>



        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="row colToList">
            <%
            var j = 1;
            for (var i = 0; i < sesData.sesData.length; i++){
            %>
            <% if (sesData.type != 2){%>
            <a href="/seja/glasovanja/<%- sesData.sesData[i].id %>" class="session_type col-sm-3 closed action-t-<%- sesData.type %> <%=(j%4==0)?"col4break":null%>" data-id="<%- sesData.sesData[i].id %>">
                <% }else{%>
                <a href="/seja/transkript/<%- sesData.sesData[i].id %>" class="session_type col-sm-3 closed action-t-<%- sesData.type %> <%=(j%4==0)?"col4break":null%>" data-id="<%- sesData.sesData[i].id %>">
                    <% }%>


                    <span>
                   <%- sesData.sesData[i].name %>
               </span>
                </a>
                <% j++; } %>
        </div>
    </div>
</div>


<style>
    .tmpContainer {
        margin: 0 10px 10px 10px;
    }
</style>


<% include ../partials/footer.ejs %>