<div class="group-container">
  <div class="row header text-center">
    <div class="col-lg-12">
      <div class="media-object img-circle session-logo" style="background-color: <%= group.color %>;">
        <img src="<%- config.urls.cdn %>/icons/party.svg" class="img-responsive">
      </div>
      <h1><%- group.name %></h1>
      <!-- <h2><%- group.is_coalition ? i18n('general.coalition') : i18n('general.opposition') %></h2> -->
      <div class="group-container-menu">
        <ul class="clearfix">
          <li><a href="/<%- sm.party.base %>/<%- group.slug %>/<%- sm.party.overview %>" class="<%- activeTab === 'pregled' ? 'active' : '' %> nav-icon nav-icon-overview"><%- i18n('general.overview') %></a></li>
          <li><a href="/<%- sm.party.base %>/<%- group.slug %>/<%- sm.party.votings %>" class="<%- activeTab === 'glasovanja' ? 'active' : '' %> nav-icon nav-icon-votings"><%- i18n('general.voting') %></a></li>
          <li><a href="/<%- sm.party.base %>/<%- group.slug %>/<%- sm.party.speeches %>" class="<%- activeTab === 'govori' ? 'active' : '' %> nav-icon nav-icon-speeches"><%- i18n('general.speeches') %></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
