<%
  var classPrefix = party.acronym.toLowerCase().replace(/ /g, '_');
  var classes = ['background', 'fill', 'border'].map(c => `${classPrefix}-${c}`).join(' ');
%>

<div class="group-container">
  <div class="row header text-center">
    <div class="col-lg-12">
      <div class="media-object img-circle session-logo <%- classes %>">
        <b><%- party.acronym %></b>
      </div>
      <h1><%- party.name %></h1>
      <h3><%- party.is_coalition ? i18n('general.coalition') : i18n('general.opposition') %></h3>
      <div class="group-container-menu">
        <ul class="clearfix">
          <li><a href="/ps/<%- slug %>/pregled" class="<%- activeTab === i18n('general.overview') ? 'active' : '' %>">%- i18n('general.overview') %></a></li>
          <li><a href="/ps/<%- slug %>/glasovanja" class="<%- activeTab === i18n('general.voting') ? 'active' : '' %>">%- i18n('general.voting') %></a></li>
          <li><a href="/ps/<%- slug %>/govori" class="<%- activeTab === i18n('general.speeches') ? 'active' : '' %>">%- i18n('general.speeches') %></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
