<%- await include('../_partials/header.ejs') %>

<%- await include('./_header.ejs') %>

<div class="row">
  <div class="col-md-12">
    <%- await fetchCard('/group/votes/', group.id) %>
  </div>
  <div class="col-md-6">
    <%- await fetchCard('/group/najlazje-pridruzili/', group.id) %>
  </div>
  <div class="col-md-6">
    <%- await fetchCard('/group/najtezje-pridruzili/', group.id) %>
  </div>
  <div class="col-md-6">
    <%- await fetchCard('/group/neujemanje-s-poslansko-skupino/', group.id) %>
  </div>
  <div class="col-md-6">
    <%- await fetchCard('/group/neenotnost-glasovanj/', group.id) %>
  </div>
</div>

<%- await include('../_partials/footer.ejs') %>
