<% include ../_partials/header.ejs %>

<% include ./_header.ejs %>

<div class="col-md-12 ">
  <%- 'views.glasovanja' %>
</div>
<div class="col-md-6 ">
  <%- 'views.najlazjeBiSeJimPridruziji' %>
</div>
<div class="col-md-6 ">
  <%- 'views.najtezjeBiSeJimPridruziji' %>
</div>
<div class="col-md-6 ">
  <%- 'views.odstopanjaOdPoslanskeSkupine' %>
</div>
<div class="col-md-6">
  <%- 'views.neenotnostGlasovanj' %>
</div>

<% include ../_partials/footer.ejs %>
