<%- await include('../_partials/header.ejs') %>

<%- await include('./_header.ejs') %>

<div class="row">
  <div class="col-md-12">
    <%- await fetchCard('/ps/govori/', group.id, { customUrl: `{isci}/search/speeches?parties=${group.id}`, state: { parties: group.id } }) %>
  </div>
  <div class="col-md-6">
    <%- await fetchNewCard(`/group/tfidf/?id=group.id&locale=sl`) %>
  </div>
  <div class="col-md-6">
    <%- await fetchNewCard(`/group/vocabulary-size/?id=group.id&locale=sl`) %>
  </div>
  <div class="col-md-6">
    <%- await fetchNewCard(`/group/style-scores/?id=group.id&locale=sl`) %>
  </div>
</div>

<%- await include('../_partials/footer.ejs') %>
