<% include ../_partials/header.ejs %>

<% include ./_header.ejs %>

<div class="col-md-6">
  <%- 'views.osnovneInformacije' %>
</div>
<div class="col-md-6">
  <%- 'views.claniceInClani' %>
</div>
<div class="col-md-12">
  <%- 'views.vprasanja' %>
</div>
<div class="col-md-12">
  <%- 'views.prisotnostSkoziCas' %>
</div>
<div class="col-md-6">
  <%- 'views.izracunanaPrisotnostSeje' %>
</div>
<div class="col-md-6">
  <%- 'views.izracunanaPrisotnostGlasovanja' %>
</div>
<div class="col-md-6">
  <%- 'views.steviloVlozenihAmandmajev' %>
</div>
<div class="col-md-6">
  <%- 'views.stVprasanj' %>
</div>

<% include ../_partials/footer.ejs %>
