<% include ../../_partials/header.ejs %>

<% include ../../_partials/search.ejs %>

<div id="session-search-results">
  <div class="col-md-12">
    <%- await fetchCard('/s/nastopi-v-katerih-je-bil-iskalni-niz-izrecen/', { state: { query } }) %>
  </div>
  <div class="col-md-12">
    <%- await fetchCard('/s/zakonodaja-iskanje/', { state: { query } }) %>
  </div>
  <div class="col-md-12">
    <%- await fetchCard('/s/raba-skozi-cas/', { state: { query } }) %>
  </div>
  <div class="col-md-6">
    <%- await fetchCard('/s/najveckrat-so-pojem-uporabili/', { state: { query } }) %>
  </div>
  <div class="col-md-6">
    <%- await fetchCard('/s/raba-po-strankah/', { state: { query } }) %>
  </div>
  <div class="col-md-12">
    <%- await fetchCard('/s/glasovanja-search/', { state: { query } }) %>
  </div>
</div>

<% include ../../_partials/footer.ejs %>
