<% if ('person' in data) { %>
    <% if ('memberships' in data) { %>
    <div class="alt-header-container">
        <div class="alt-header">
            <img src="https://cdn.parlameter.si/v1/parlassets/img/people/square/<%= data.person.gov_id %>.png" class="portrait column">
            <div class="header-info-container">
                <h1><%= data.person.name %></h1>
                <h2 class="partyinfo"><%= data.person.party.acronym %> | <% if (data.person.party.is_coalition) { %>koalicija<%} else { %>opozicija<% } %></h2>
                <h2 class="cardname"><%= cardData.name %></h2>
            </div>
        </div>
        <div class="alt-header-border"></div>
    </div>
    <% } else if ('speech_id' in data['results']) { %>
        <div class="card-header card-header-person">
            <div class="portrait" style="background-image: url('https://cdn.parlameter.si/v1/parlassets/img/people/square/<%= data.person.gov_id %>.png')"></div>
            <h1 class="name">
                <% if (data.person.party.acronym) { %>
                    <a href="<%=urlsData.base%><%=urlsData.personLink.base%><%=urlsData.person[data.person.id].slug%><%=urlsData.personLink.pregled%>" class="funblue-light-hover"><%= data.person.name %></a>
                <% } else { %>
                    <%= data.person.name %>
                <% } %>
            </h1>
            <div style="position: absolute; right: 0;">
                <h1 class="name"><a href="https://skoraj.parlameter.si/seja/transkript/<%= data.results.session.id %>" class="funblue-light-hover"><%= data.results.session.name %></a>, <%= data.results.session.date %></h1>
            </div>
        </div>
    <% } else { %>
    <div class="alt-header-container">
        <div class="alt-header">
            <img src="https://cdn.parlameter.si/v1/parlassets/img/people/square/<%= data.person.gov_id %>.png" class="portrait column">
            <div class="header-info-container">
                <h1><%= data.person.name %></h1>
                <h2 class="partyinfo"><%= data.person.party.acronym %> | <% if (data.person.party.is_coalition) { %>koalicija<%} else { %>opozicija<% } %></h2>
                <h2 class="cardname"><%= cardData.name %></h2>
            </div>
        </div>
        <div class="alt-header-border"></div>
    </div>
    <% } %>
<% } else if ('info' in data) { %>
    <div class="alt-header-container">
        <div class="alt-header">
            <div class="header-info-container">
                <h1><%= data.organization.name %></h1>
                <h2 class="partyinfo">&nbsp;</h2>
                <h2 class="cardname"><%= cardData.name %></h2>
            </div>
        </div>
        <div class="alt-header-border"></div>
    </div>
<% } else if ('organization' in data) { %>
    <div class="alt-header-container">
        <div class="alt-header">
            <div class="media-object img-circle session-logo <%- data.organization.acronym.replace(/ /g, '_').toLowerCase(); %>-background">
                <b><%= data.organization.acronym %></b>
            </div>
            <div class="header-info-container">
                <h1><%= data.organization.name %></h1>
                <h2 class="partyinfo"><%= data.organization.acronym %> | <% if (data.organization.is_coalition) { %>koalicija<%} else { %>opozicija<% } %></h2>
                <h2 class="cardname"><%= cardData.name %></h2>
            </div>
        </div>
        <div class="alt-header-border"></div>
    </div>
<% } else if  ('party' in data) { %>
    <div class="alt-header-container">
        <div class="alt-header">
            <div class="media-object img-circle session-logo <%- data.party.acronym.replace(/ /g, '_').toLowerCase(); %>-background">
                <b><%= data.party.acronym %></b>
            </div>
            <div class="header-info-container">
                <h1><%= data.party.name %></h1>
                <h2 class="partyinfo"><%= data.party.acronym %> | <% if (data.party.is_coalition) { %>koalicija<%} else { %>opozicija<% } %></h2>
                <h2 class="cardname"><%= cardData.name %></h2>
            </div>
        </div>
        <div class="alt-header-border"></div>
    </div>
<% } else if ('responseHeader' in data) { %>
    <div class="alt-header-container">
        <div class="alt-header">
            <div class="media-object img-circle session-logo" style="width: 80px; height: 80px; padding-right: 10px; margin: 0;">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" version="1.1" x="0px" y="0px"><title>Search</title><desc>Created with Sketch.</desc><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g stroke="#5b99d5" stroke-width="5"><path d="M68.168841,65.2095963 C68.5320756,65.3188984 68.8742859,65.5170521 69.161291,65.8040572 L89.3046941,85.9474603 C90.2317686,86.8745348 90.2317686,88.3776196 89.3046941,89.3046941 C88.3776196,90.2317686 86.8745348,90.2317686 85.9474603,89.3046941 L65.8040572,69.161291 C65.5170521,68.8742859 65.3188984,68.5320756 65.2095963,68.168841 C59.3519251,73.3352861 51.6594793,76.4698389 43.2349195,76.4698389 C24.8797803,76.4698389 10,61.5900586 10,43.2349195 C10,24.8797803 24.8797803,10 43.2349195,10 C61.5900586,10 76.4698389,24.8797803 76.4698389,43.2349195 C76.4698389,51.6594793 73.3352861,59.3519251 68.168841,65.2095963 L68.168841,65.2095963 Z"></path></g></g></svg>
            </div>
            <div class="header-info-container">
                <h1></h1>
                <h2 class="partyinfo">Iskalni niz: <%- customUrl.split('q/')[1].replace('+', ' ') %></h2>
                <h2 class="cardname"><%= cardData.name %></h2>
            </div>
        </div>
        <div class="alt-header-border"></div>
    </div>
<% } else if ('session' in data) { %>
    <div class="alt-header-container">
        <div class="alt-header">
            <div class="media-object img-circle session-logo sds-background">
                <b>S</b>
            </div>
            <div class="header-info-container">
                <h1><%= data.session.name %></h1>
                <h2 class="partyinfo"><%= data.session.date %></h2>
                <h2 class="cardname"><%= cardData.name %></h2>
            </div>
        </div>
        <div class="alt-header-border"></div>
    </div>
<% } else if (data[0]) { %>
    <% if ('session' in data[0]) { %>
        <div class="alt-header-container">
            <div class="alt-header">
                <div class="media-object img-circle session-logo sds-background">
                    <b>S</b>
                </div>
                <div class="header-info-container">
                    <h1><%= data[0].session.name %></h1>
                    <h2 class="partyinfo"><%= data[0].session.date %></h2>
                    <h2 class="cardname"><%= cardData.name %></h2>
                </div>
            </div>
            <div class="alt-header-border"></div>
        </div>
    <% } else if ('results' in data[0]) { %>
        <div class="alt-header-container">
            <div class="alt-header">
                <div class="media-object img-circle session-logo" style="width: 80px; height: 80px; padding-right: 10px; margin: 0;">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 100 100">
                    <defs>
                        <path id="d" stroke="#5b99d5" stroke-width="6" stroke-linejoin="round" stroke-linecap="square" fill="none" d=" M 30 30 L 80 30"></path>
                        <path id="c" stroke="#5b99d5" stroke-width="6" stroke-linejoin="round" stroke-linecap="square" fill="none" d=" M 30 50 L 80 50"></path>
                        <path id="b" stroke="#5b99d5" stroke-width="6" stroke-linejoin="round" stroke-linecap="square" fill="none" d=" M 30 70 L 80 70"></path>
                        <path id="a" stroke="#5b99d5" stroke-width="6" stroke-linejoin="round" stroke-linecap="square" fill="none" d=" M 19 30 L 21 30 M 19 50 L 21 50 M 19 70 L 21 70"></path>
                    </defs>
                    <g transform="matrix( 1, 0, 0, 1, 0,0) ">
                        <use xlink:href="#d"></use>
                    </g>
                    <g transform="matrix( 1, 0, 0, 1, 0,0) ">
                        <use xlink:href="#c"></use>
                    </g>
                    <g transform="matrix( 1, 0, 0, 1, 0,0) ">
                        <use xlink:href="#b"></use>
                    </g>
                    <g transform="matrix( 1, 0, 0, 1, 0,0) ">
                        <use xlink:href="#a"></use>
                    </g>
                </svg>
                </div>
                <div class="header-info-container">
                    <h1>VII sklic Državnega zbora</h1>
                    <h2 class="partyinfo"></h2>
                    <h2 class="cardname"><%= cardData.name %></h2>
                </div>
            </div>
            <div class="alt-header-border"></div>
        </div>
    <% } %>
<% } else if ('districts' in data) { %>
    <div class="alt-header-container">
        <div class="alt-header">
            <div class="media-object img-circle session-logo" style="width: 80px; height: 80px; padding-right: 10px; margin: 0;">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 100 100">
                    <defs>
                        <path id="d" stroke="#5b99d5" stroke-width="6" stroke-linejoin="round" stroke-linecap="square" fill="none" d=" M 30 30 L 80 30"></path>
                        <path id="c" stroke="#5b99d5" stroke-width="6" stroke-linejoin="round" stroke-linecap="square" fill="none" d=" M 30 50 L 80 50"></path>
                        <path id="b" stroke="#5b99d5" stroke-width="6" stroke-linejoin="round" stroke-linecap="square" fill="none" d=" M 30 70 L 80 70"></path>
                        <path id="a" stroke="#5b99d5" stroke-width="6" stroke-linejoin="round" stroke-linecap="square" fill="none" d=" M 19 30 L 21 30 M 19 50 L 21 50 M 19 70 L 21 70"></path>
                    </defs>
                    <g transform="matrix( 1, 0, 0, 1, 0,0) ">
                        <use xlink:href="#d"></use>
                    </g>
                    <g transform="matrix( 1, 0, 0, 1, 0,0) ">
                        <use xlink:href="#c"></use>
                    </g>
                    <g transform="matrix( 1, 0, 0, 1, 0,0) ">
                        <use xlink:href="#b"></use>
                    </g>
                    <g transform="matrix( 1, 0, 0, 1, 0,0) ">
                        <use xlink:href="#a"></use>
                    </g>
                </svg>
            </div>
            <div class="header-info-container">
                <h1><% if (state['parties']) { for (i in state['parties']) {%><%= state['parties'][i] %><% if (i < state['parties'].length - 1) { %>, <% } } } %></h1>
                <% 
                    var districts = [];
                    if (state['districts']) {
                        state['districts'].forEach(function(e1) {
                            data.districts.forEach(function(e2) {
                                if (e2[parseInt(e1)]) {
                                    districts.push(e2[parseInt(e1)]);
                                }
                            });
                        });
                    }
                %>
                <h2 class="partyinfo"><% if (state['districts']) { for (i in districts) {%><%= districts[i] %><% if (i < districts.length - 1) { %>, <% } } } %></h2>
                <h2 class="cardname"><%= cardData.name %></h2>
            </div>
        </div>
        <div class="alt-header-border"></div>
    </div>
<% } else { %>
    <div class="alt-header-container">
        <div class="alt-header">
            <div class="media-object img-circle session-logo">
                <b>placeholder header</b>
            </div>
            <div class="header-info-container">
                <h1>tekst 1</h1>
                <h2 class="partyinfo">dummy text</h2>
                <h2 class="cardname"><%= cardData.name %></h2>
            </div>
        </div>
        <div class="alt-header-border"></div>
        <%- JSON.stringify(data); %>
        <%- JSON.stringify(cardData); %>
        <%= customUrl %>
    </div>
<% } %>