<!DOCTYPE html> <!-- removeme -->
<html> <!-- removeme -->

<head> <!-- removeme -->
    <% if (cardData.type == 'poslanec') { %>
        <% if (cardData.name == 'Besede, ki ga zaznamujejo' && data.person.gender == 'f') { %>
            <title>Besede, ki jo zaznamujejo - <%= data.person.name %></title>
            <meta name="twitter:title" content="Besede, ki jo zaznamujejo - <%= data.person.name %>">
            <meta property="og:title" content="Besede, ki jo zaznamujejo - <%= data.person.name %>">
        <% } else { %>
            <title><%= cardData.name %> - <%= data.person.name %></title>
            <meta name="twitter:title" content="<%= cardData.name %> - <%= data.person.name %>">
            <meta property="og:title" content="<%= cardData.name %> - <%= data.person.name %>">
        <% } %>
    <% } %>
    <% if (cardData.type == 'poslanska_skupina') { %>
        <% if ('organization' in data) { %>
            <title><%= cardData.name %> - <%= data.organization.acronym %> | <% if (data.organization.is_coalition) { %>koalicija<%} else { %>opozicija<% } %></title>
            <meta name="twitter:title" content="<%= cardData.name %> - <%= data.organization.acronym %> | <% if (data.organization.is_coalition) { %>koalicija<%} else { %>opozicija<% } %>">
            <meta property="og:title" content="<%= cardData.name %> - <%= data.organization.acronym %> | <% if (data.organization.is_coalition) { %>koalicija<%} else { %>opozicija<% } %>">
        <% } else if ('party' in data) { %>
            <title><%= cardData.name %> - <%= data.party.acronym %> | <% if (data.party.is_coalition) { %>koalicija<%} else { %>opozicija<% } %></title>
            <meta name="twitter:title" content="<%= cardData.name %> - <%= data.party.acronym %> | <% if (data.party.is_coalition) { %>koalicija<%} else { %>opozicija<% } %>">
            <meta property="og:title" content="<%= cardData.name %> - <%= data.party.acronym %> | <% if (data.party.is_coalition) { %>koalicija<%} else { %>opozicija<% } %>">
        <% } %>
    <% } %>
    <% if (cardData.type == 'seje') { %>
        <% if ('person' in data) { %>
        <% } else { %>
            <title><%= data.session.name %> - <%= data.session.date %></title>
            <meta name="twitter:title" content="<%= data.session.name %> - <%= data.session.date %>">
            <meta property="og:title" content="<%= data.session.name %> - <%= data.session.date %>">
        <% } %>
    <% } %>
    <% if (cardData.type == 'iskanje') { %>
        <title>Iskalni niz: <%- decodeURIComponent(unescape(customUrl.split('responseHeader' in data ? 'q/' : 'v/')[1])).replace(/\+/g, ' ').replace(/"/g, '') %></title>
        <meta name="twitter:title" content="Iskalni niz: <%- decodeURIComponent(unescape(customUrl.split('responseHeader' in data ? 'q/' : 'v/')[1])).replace(/\+/g, ' ').replace(/"/g, '') %>">
        <meta property="og:title" content="Iskalni niz: <%- decodeURIComponent(unescape(customUrl.split('responseHeader' in data ? 'q/' : 'v/')[1])).replace(/\+/g, ' ').replace(/"/g, '') %>">
    <% } %>
    <% if (cardData.type == 'iskanje') { %>
        <title>Iskalni niz: <%- decodeURIComponent(unescape(customUrl.split('responseHeader' in data ? 'q/' : 'v/')[1])).replace(/\+/g, ' ').replace(/"/g, '') %></title>
        <meta name="twitter:title" content="Iskalni niz: <%- decodeURIComponent(unescape(customUrl.split('responseHeader' in data ? 'q/' : 'v/')[1])).replace(/\+/g, ' ').replace(/"/g, '') %>">
        <meta property="og:title" content="Iskalni niz: <%- decodeURIComponent(unescape(customUrl.split('responseHeader' in data ? 'q/' : 'v/')[1])).replace(/\+/g, ' ').replace(/"/g, '') %>">

        <meta property="og:image" content="https://cdn.parlameter.si/v1/parlassets/img/iskanje-og.png">
        <meta name="twitter:image" content="https://cdn.parlameter.si/v1/parlassets/img/iskanje-og.png">
    <% } %>
    <% if (cardData.type == 'glasovanje') { %>
        <title><%= data.name %></title>
        <meta name="twitter:title" content="<%= data.name %>">
        <meta property="og:title" content="<%= data.name %>">
    <% } %>
    <% if (cardData.headerType == 'govor') { %>
        <title><%= data.person.name %> - <%= data.results.session.name %></title>
        <meta name="twitter:title" content="<%= data.person.name %> - <%= data.results.session.name %>">
        <meta property="og:title" content="<%= data.person.name %> - <%= data.results.session.name %>">
    <% } %>
    <% if (cardData.headerType == 'delovno_telo') { %>
        <title><%= data.organization.name %></title>
        <meta name="twitter:title" content="<%= data.organization.name %>">
        <meta property="og:title" content="<%= data.organization.name %>">
    <% } %>
    <% if (cardData.headerType == 'seznam_poslanskih_skupin') { %>

        <% var labels = {
            seat_count: 'Število sedežev',
            presence_sessions: 'Prisotnost na sejah DZ',
            presence_votes: 'Prisotnost na glasovanjih sej DZ',
            vocabulary_size: 'Raznolikost besedišča',
            privzdignjeno: 'Privzdignjeno besedje',
            preprosto: 'Preprosto besedje',
            problematicno: 'Ekscesno besedje',
        }; %>

        <title><%= cardData.name %> - <%= labels[state.analysis || 'seat_count'] %></title>
        <meta name="twitter:title" content="<%= cardData.name %> - <%= labels[state.analysis || 'seat_count'] %>">
        <meta property="og:title" content="<%= cardData.name %> - <%= labels[state.analysis || 'seat_count'] %>">
    <% } %>
    <% if (cardData.headerType == 'seznam_poslancev') { %>

        <% function getDistricts() {
            return state.districts.map(function(districtId) {
            return data.districts.filter(function(district) {
                return Object.keys(district)[0] === districtId;
            })[0][districtId];
            });
        }; %>

        <title>Seznam poslancev - <%- state.parties ? state.parties.join(', ') : '&nbsp;' %> | <%- state.districts ? getDistricts().join(', ') : '&nbsp;' %></title>
        <meta name="twitter:title" content="Seznam poslancev - <%- state.parties ? state.parties.join(', ') : '&nbsp;' %> | <%- state.districts ? getDistricts().join(', ') : '&nbsp;' %>">
        <meta property="og:title" content="Seznam poslancev - <%- state.parties ? state.parties.join(', ') : '&nbsp;' %> | <%- state.districts ? getDistricts().join(', ') : '&nbsp;' %>">
    <% } %>
    <% if (cardData.headerType == 'politicni_kompas') { %>
        <title>Parlamentarni kompas - <% if (state['parties']) { for (i in state['parties']) { %><%= state['parties'][i].toUpperCase() %><% if (i < state['parties'].length - 1) { %>, <% } } } %> | <% if (state['people']) { for (i in state['people']) { %><%= state['people'][i]['name'] %><% if (i < state['people'].length - 1) { %>, <% } } } %></title>
        <meta name="twitter:title" content="Parlamentarni kompas - <% if (state['parties']) { for (i in state['parties']) { %><%= state['parties'][i].toUpperCase() %><% if (i < state['parties'].length - 1) { %>, <% } } } %> | <% if (state['people']) { for (i in state['people']) { %><%= state['people'][i]['name'] %><% if (i < state['people'].length - 1) { %>, <% } } } %>">
        <meta property="og:title" content="Parlamentarni kompas - <% if (state['parties']) { for (i in state['parties']) { %><%= state['parties'][i].toUpperCase() %><% if (i < state['parties'].length - 1) { %>, <% } } } %> | <% if (state['people']) { for (i in state['people']) { %><%= state['people'][i]['name'] %><% if (i < state['people'].length - 1) { %>, <% } } } %>">
    <% } %>
    <% if (cardData.headerType == 'raznolikost_besedisca') { %>
        <title>Raznolikost besedišča - <% if (state['parties']) { for (i in state['parties']) { %><%= state['parties'][i].toUpperCase() %><% if (i < state['parties'].length - 1) { %>, <% } } } %> | <% if (state['people']) { for (i in state['people']) { %><%= state['people'][i]['name'] %><% if (i < state['people'].length - 1) { %>, <% } } } %></title>
        <meta name="twitter:title" content="Raznolikost besedišča - <% if (state['parties']) { for (i in state['parties']) { %><%= state['parties'][i].toUpperCase() %><% if (i < state['parties'].length - 1) { %>, <% } } } %> | <% if (state['people']) { for (i in state['people']) { %><%= state['people'][i]['name'] %><% if (i < state['people'].length - 1) { %>, <% } } } %>">
        <meta property="og:title" content="Raznolikost besedišča - <% if (state['parties']) { for (i in state['parties']) { %><%= state['parties'][i].toUpperCase() %><% if (i < state['parties'].length - 1) { %>, <% } } } %> | <% if (state['people']) { for (i in state['people']) { %><%= state['people'][i]['name'] %><% if (i < state['people'].length - 1) { %>, <% } } } %>">
    <% } %>


    <meta name="twitter:creator" content="@danesjenovdan">
    <meta name="twitter:description" content="Parlameter je orodje, ki z analizo glasovanj in transkriptov nastopov lajša spremljanje dela v Državnem zboru.">
    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:description" content="Parlameter je orodje, ki z analizo glasovanj in transkriptov nastopov lajša spremljanje dela v Državnem zboru.">
    <meta property="og:type" content="website">


    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- removeme -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> <!-- removeme -->

    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.parlameter.si/v1/parlassets/icons/favicon.ico">

    <!-- build:remove -->
    <!-- these script files are removed on build -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://unpkg.com/vue@2.1.6/dist/vue.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/search-dropdown.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/typeahead.bundle.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/script.js"></script>
    <!-- endbuild -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" data-remove="false" data-concat="false"> <!-- removeme -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/scss/style.css" data-remove="false" data-concat="false"> <!-- removeme -->

    <base href="https://skoraj.parlameter.si/" />
    <base target="_parent" />
    <base target="_blank" />

    <style>
        .logo {
            max-width: 120px;
            overflow: hidden;
            display: block;
            margin: auto;
            margin-top: 30px;
            margin-bottom: 20px;
        }
        .logo svg { width: 100%; }
        .cls-1 {
            fill: #227497;
        }
        .cls-2 {
            fill: #009cd9;
        }
        .cls-3 {
            fill: #003143;
        }
        .gradient-parent {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            background: #009cdd; /* Old browsers */
            background: -moz-linear-gradient(left,  #009cdd 0%, #ff5e41 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left,  #009cdd 0%,#ff5e41 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right,  #009cdd 0%,#ff5e41 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009cdd', endColorstr='#ff5e41',GradientType=1 ); /* IE6-9 */
        }
        .gradient {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f0f0+0,f0f0f0+100&0.6+0,1+14 */
            background: -moz-linear-gradient(top,  rgba(240,240,240,0.6) 0%, rgba(240,240,240,1) 14%, rgba(240,240,240,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(240,240,240,0.6) 0%,rgba(240,240,240,1) 14%,rgba(240,240,240,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(240,240,240,0.6) 0%,rgba(240,240,240,1) 14%,rgba(240,240,240,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99f0f0f0', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
        }
        .permalink {
            color: #333333;
            margin: auto;
            display: block;
            width: 100%;
            text-align: center;
            margin-top: 20px;
            font-family: 'Roboto Slab';
            font-weight: 300;
        }
        .permalink:hover {
            text-decoration: none;
        }
    </style>
    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(["setDomains", ["*.parlameter.si"]]);
        _paq.push(["disableCookies"]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        _paq.push(['enableHeartBeatTimer']);
        (function() {
            var u="//zy.si/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '13']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <noscript><p><img src="//zy.si/piwik.php?idsite=13" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
    </head>
<body>
    <div class="gradient-parent">
        <div class="gradient"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a class="logo" href="https://skoraj.parlameter.si/">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 282.82 170.08">
                        <title>Asset 1</title>
                        <g id="Layer_2" data-name="Layer 2">
                            <g id="Layer_1-2" data-name="Layer 1">
                                <g id="_Group_" data-name="<Group>">
                                    <path id="_Path_" data-name="<Path>" class="cls-1" d="M79.9,60.19l-.35,5.51A32.17,32.17,0,0,1,56.69,94.49,32.17,32.17,0,0,1,33.84,65.71l-.35-5.51H0v49.69H132.28V60.19Z"></path>
                                    <path id="_Path_2" data-name="<Path>" class="cls-2" d="M0,0V49.69H32.83L32,37.13q.86-.41,1.73-.8h0a56.83,56.83,0,0,1,45.86,0h0q.87.39,1.73.8l-.79,12.57H207.87V0Z"></path>
                                    <g id="_Group_2" data-name="<Group>">
                                        <path id="_Compound_Path_" data-name="<Compound Path>" class="cls-3" d="M12.46,149.56H6.57v20.52H.37v-49.7H12.46c6.34,0,10,3.36,10,10.22v8.81C22.46,146.2,18.81,149.56,12.46,149.56Zm3.73-19.25c0-2.84-1-4.33-3.66-4.33h-6v18.21h6c2.61,0,3.66-1.64,3.66-4.4Z"></path>
                                        <path id="_Compound_Path_2" data-name="<Compound Path>" class="cls-3" d="M43.73,170.08l-2-11.42H32.91l-2.09,11.42h-5.9l9.33-49.7h6.57l9.25,49.7Zm-6.34-38.21-3.51,21.27h6.87Z"></path>
                                        <path id="_Compound_Path_3" data-name="<Compound Path>" class="cls-3" d="M65.67,149.11H62.24v21H56v-49.7H68.13c6.34,0,9.93,3.21,9.93,10.07V139c0,4.33-1.87,7.91-6,9.25,0-.07,6.72,21.87,6.72,21.87H72.09Zm1.79-5.37c2.84,0,4.4-1.64,4.4-4.78v-8.81c0-2.54-1-4.18-3.73-4.18h-5.9v17.76Z"></path>
                                        <path id="_Compound_Path_4" data-name="<Compound Path>" class="cls-3" d="M85.52,170.08v-49.7h6.19v44h12.91v5.75Z"></path>
                                        <path id="_Compound_Path_5" data-name="<Compound Path>" class="cls-3" d="M127.38,170.08l-2-11.42h-8.81l-2.09,11.42h-5.9l9.33-49.7h6.57l9.25,49.7ZM121,131.87l-3.51,21.27h6.87Z"></path>
                                        <path id="_Compound_Path_6" data-name="<Compound Path>" class="cls-3" d="M165.74,170.08V131.94l-1.64,9-5.67,29.1h-6L146.78,141l-1.64-9v38.13h-5.52v-49.7h8.81l5.6,30.9,1.64,9,1.57-9.1,5.52-30.82h8.66v49.7Z"></path>
                                        <path id="_Compound_Path_7" data-name="<Compound Path>" class="cls-3" d="M180.14,170.08v-49.7h19.48V126H186.34V141.5H196v5.45h-9.63v17.46h13.28v5.67Z"></path>
                                        <path id="_Compound_Path_8" data-name="<Compound Path>" class="cls-3" d="M218.95,126.12v44h-6.19v-44h-8.43v-5.75h22.91v5.75Z"></path>
                                        <path id="_Compound_Path_9" data-name="<Compound Path>" class="cls-3" d="M233.42,170.08v-49.7H252.9V126H239.62V141.5h9.63v5.45h-9.63v17.46H252.9v5.67Z"></path>
                                        <path id="_Compound_Path_10" data-name="<Compound Path>" class="cls-3" d="M269.77,149.11h-3.43v21h-6.19v-49.7h12.09c6.34,0,9.93,3.21,9.93,10.07V139c0,4.33-1.87,7.91-6,9.25,0-.07,6.72,21.87,6.72,21.87h-6.64Zm1.79-5.37c2.84,0,4.4-1.64,4.4-4.78v-8.81c0-2.54-1-4.18-3.73-4.18h-5.9v17.76Z"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </a>
            </div>
        </div>
        <div class="row">

            <%

            var bigcards = [
                'Parlamentarni kompas',
                'Nastopi, v katerih je bil iskalni niz izrečen',
                'GOVOR',
                'Govor',
                'Delovno telo',
                'Izpostavljena seja',
                'Seznam poslancev',
                'Seznam poslanskih skupin',
                'Glasovanja - seja',
                'Besede, ki so zaznamovale sejo',
                'Prisotnost po poslanskih skupinah',
                'Raznolikost besedišča poslank in poslancev',
                'Glasovanja, v katerih se pojavi iskalni niz',
                'Glasovanje',
                'Raba skozi čas',
                'Iskalnik'
            ];

            if (bigcards.indexOf(cardData.name) !== -1) {

            %>

                <div class="col-md-12">
                    <div id="card-container"></div>
                </div>

            <% } else { %>

                <div class="col-md-6 col-md-offset-3">
                    <div id="card-container"></div>
                </div>

            <% } %>

        </div>
        <!-- <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <a href="" class="permalink"><span class="funblue-light-hover">Pokaži kartico v kontekstu spletnega mesta parlameter.si &gt;</span></a>
            </div>
        </div> -->
    </div>

    <script>
        window.setTimeout(function() {
            var id = $('.embed-script textarea').data('id');
            $('.permalink').attr('href', 'https://skoraj.parlameter.si/p/id/' + id);
        }, 1000);
    </script>

    <% if (cardData.headerType == 'govor') { %>
        <script>
            window.setTimeout(function() {
                $('.toggle-arrow').click();
            }, 500);
        </script>
    <% } %>
</body>
</html>
