<% include ../../partials/header.ejs %>

<div class="group-container">
    <div class="row header  text-center">
        <div class="col-lg-12">

            <div class="media-object img-circle session-logo <%- ps.acronym.replace(/ /g, '_').toLowerCase() %>-background  <%- ps.acronym.replace(/ /g, '_').toLowerCase() %>-fill  <%- ps.acronym.replace(/ /g, '_').toLowerCase() %>-border ">
                <b><%- realAcronym.realAcronym %></b>
            </div>

            <h1><%- ps.name %></h1>
            <h3><%= ps.is_coalition ? "koalicija" : "opozicija" %></h3>

            <div class="group-container-menu">
                <ul class="clearfix">
                    <li>
                        <a href="/poslanska-skupina/pregled/<%- slug %>" class="rayen" data-text="Pregled"><span>Pregled</span></a>
                    </li>
                    <li>
                        <a href="/poslanska-skupina/glasovanja/<%- slug %>" class="rayen" data-text="Glasovanja"><span>Glasovanja</span></a>
                    </li>
                    <li>
                        <a href="/poslanska-skupina/govori/<%- slug %>" class="active rayen" data-text="Govori"><span>Govori</span></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="col-md-6 ">
    <%- views.besedeKiJihDelajoPosebne %>
</div>
<div class="col-md-6 ">
    <%- views.vsiGovoriPoslanskeSkupine %>
</div>
<div class="col-md-6 ">
    <%- views.besedniZaklad %>
</div>
<div class="col-md-6 ">
    <%- views.stilneAnalize %>
</div>


<% include ../../partials/footer.ejs %>
