<%- await include('../_partials/header.ejs') %>

<div class="session-container">
  <div class="row header  text-center">
    <div class="col-lg-12">
      <% if (lawData.icon) { %>
        <div class="media-object img-circle session-logo backgroundwhite" style="background-image: url('<%- config.urls.cdn %>/icons/legislation/<%= lawData.icon %>');">
        </div>
      <% } else { %>
        <div class="media-object img-circle session-logo backgroundred law-logo">
          <b>Z</b>
        </div>
      <% } %>
      <h1 style="max-width: 600px; position: relative; margin: auto;"><%= lawData.text %></h1>
      <br>
      <div class="date">
        <%= lawData.created_at %> <!-- TODO: ?? -->
      </div>
      <h2 class="result">
        <div class="parlaicon vote-result--<%= lawData.result || 'in_procedure' %>" class="result-icon"></div>
        <div class="text"><%= i18n(`general.vote-result--${lawData.result || 'in_procedure'}`) %></div>
      </h2>
    </div>
  </div>
</div>

<%- await fetchCard('/session/law/', { customUrl: `{analize}/s/getLegislation/${lawData.epa}`}) %>

<% if  (lawData.has_discussion) { %>
  <%- await fetchCard('/c/commentality/', { state: { EPA: lawData.epa } }) %>
<% } %>

<%- await include('../_partials/footer.ejs') %>
