<%- await include('../_partials/header.ejs') %>

<style>
/* TODO: remove style tags from all templates */
.backgroundwhite {
  background: #fff;
  padding: 15px;
}
.v-obravnavi {
  width: 25px !important;
  height: 25px;
  background: url("<%- config.urls.cdn %>/icons/v-obravnavi.svg");
  background-size: contain !important;
  margin-bottom: -6px;
  position: relative;
  display: inline-block;
}
</style>

<div class="session-container">
  <div class="row header  text-center">
    <div class="col-lg-12">
      <% if (lawData.icon) { %>
        <div class="media-object img-circle session-logo backgroundwhite">
          <img src="<%- config.urls.cdn %>/icons/legislation/<%= lawData.icon %>">
        </div>
      <% } else { %>
        <div class="media-object img-circle session-logo backgroundred">
          <b>Z</b>
        </div>
      <% } %>
      <h1 style="max-width: 600px; position: relative; margin: auto;"><%= lawData.text %></h1>
      <br>
      <div class="date">
        <%= lawData.created_at %> <!-- TODO: ?? -->
      </div>
      <h2>
        <div style="background-image: url('<%- config.urls.cdn %>/icons/vote-result--<%= lawData.result %>.svg');" class="result-icon"></div>
        <%= i18n(`general.vote-result--${lawData.result}`) %>
      </h2>
    </div>
  </div>
</div>

<%- await fetchCard('/s/zakon/', { customUrl: `{analize}/s/getLegislation/${lawData.epa}`}) %>

<%- await include('../_partials/footer.ejs') %>
