<% include ../../partials/header.ejs %>
<% include ../../partials/session_search.ejs %>

<div class="row">
    <div class="col-lg-12">
        <div class="session-types narrow-inner-container">
            <h2 class="session-types-title">Izberi vrsto seje</h2>
            <div class="session-types-list">
                <% [
                  { slug: 'seje-dz', label: 'Seje DZ' },
                  { slug: 'seje-delovnih-teles', label: 'Seje delovnih teles' },
                  { slug: 'seje-kolegija-predsednika-dz', label: 'Seje kolegija predsednika DZ' }
                ].forEach(function(link) { %>
                    <a href="/seje/tip/<%= link.slug %>" class="session-type<%- params.fullName === link.slug ? ' active' : ''; %>">
                        <span><%- link.label %></span>
                    </a>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="session-list">
                <% sesData.sesData.forEach(function(session) { %>
                    <a href="/seja/<%- session.votes ? 'glasovanja' : 'transkript' %>/<%- session.id %>" class="session closed action-t-<%- sesData.type %>" data-id="<%- session.id %>">
                        <div class="session-name"><%- session.name %></div>
                        <% if (sesData.type != 1) { %>
                            <div class="session-date"><%- session.date %></div>
                        <% } %>
                    </a>
                <% }) %>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        $(".action-t-1").click(function () {
            if($(this).hasClass("active")){
                $(".tmpContainer").remove();
                $(".action-t-1").removeClass("active");

                return false;
            }
            $(".tmpContainer").remove();
            $(".action-t-1").removeClass("active");

            var id = $(this).data('id');
            var self = $(this);
            var index = self.index();
            var newPosition = (Math.ceil((index + 1) / 4) * 4) - 1;
            if (newPosition > $(".session-list .session").length) {
                newPosition = $(".session-list .session").length - 1;
            }

            var jqxhr = $.ajax("https://glej.parlameter.si/wb/getWorkingBodies/" + id + "")
                .done(function (data) {
                    var cont = $('<div class="tmpContainer" />').html(data);
                    if ($(window).width() < 768) {
                        cont.insertAfter(self);
                    } else {
                        cont.insertAfter($($(".session-list .session")[newPosition]));
                    }
                    DNDrepeatEmbedCall();

                    self.addClass("active");
                })
                .fail(function () {
                    var cont = $('<div class="tmpContainer" />').html("card not ok");
                    cont.insertAfter($($(".session-list .session")[newPosition]));
                });
            return false;
        });

        if (document.location.hash.length > 0) {
            var dataid = document.location.hash.split("-");
            $(".colToList").find("[data-id='" + dataid[1] + "']").trigger("click");
        }
    });
</script>

<% include ../../partials/footer.ejs %>
