<% include ../../partials/header.ejs %>

<% include ../../partials/session_search.ejs %>


<div class="row">
    <div class="col-lg-12">
        <div class="session_types ">

            <h2>
                Izberi vrsto seje
            </h2>


            <ul class="clearfix">
                <li>
                    <a href="/seje/tip/seje-dz" class="<%- (params.fullName == 'seje-dz')? 'active':null; %>">
                        Seje DZ
                    </a>
                </li>
                <li>
                    <a href="/seje/tip/seje-delovnih-teles"
                       class="<%- (params.fullName == 'seje-delovnih-teles')? 'active':null; %>">
                        Seje delovnih<br> teles
                    </a>
                </li>
                <li>
                    <a href="/seje/tip/seje-kolegija-predsednika-dz"
                       class="<%- (params.fullName == 'seje-kolegija-predsednika-dz')? 'active':null; %>">
                        Seje kolegija <br>predsednika DZ
                    </a>
                </li>
            </ul>


        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="row colToList">
            <%
                var j = 1;
            for (var i = 0; i < sesData.sesData.length; i++){
            %>
            <% if (sesData.type != 2){%>
                <% if(sesData.sesData[i].votes){ %>
                    <a id="session-<%- sesData.sesData[i].id %>" href="/seja/glasovanja/<%- sesData.sesData[i].id %>" class="session_type col-sm-3 closed action-t-<%- sesData.type %> <%=(j%4==0)?"col4break":null%>" data-id="<%- sesData.sesData[i].id %>">
                <% }else{%>
                    <a id="session-<%- sesData.sesData[i].id %>" href="/seja/transkript/<%- sesData.sesData[i].id %>" class="session_type col-sm-3 closed action-t-<%- sesData.type %> <%=(j%4==0)?"col4break":null%>" data-id="<%- sesData.sesData[i].id %>">
                <% }%>
            <% }else{%>
                <a id="session-<%- sesData.sesData[i].id %>" href="/seja/transkript/<%- sesData.sesData[i].id %>" class="session_type col-sm-3 closed action-t-<%- sesData.type %> <%=(j%4==0)?"col4break":null%>" data-id="<%- sesData.sesData[i].id %>">
            <% }%>


                <span>
                   <%- sesData.sesData[i].name %>
                   <% if (sesData.type != 1) { %>
                   <br>
                   <span class="session-date"><%- sesData.sesData[i].date %></span>
                   <% } %>
               </span>


            </a>
            <% j++; } %>
        </div>
    </div>
</div>


<style>
    .tmpContainer {
        margin: 0 10px 10px 10px;
    }
    .tmpContainer .card-container{
        margin-top: 5px;
    }
</style>

<script>

    $(function () {



        $(".action-t-1").click(function () {
            if($(this).hasClass("active")){
                $(".tmpContainer").remove();
                $(".action-t-1").removeClass("active");

                return false;
            }
            $(".tmpContainer").remove();
            $(".action-t-1").removeClass("active");



            var id = $(this).data('id');
            var self = $(this);
            var index = self.index();
            var newPosition = (Math.ceil((index + 1) / 4) * 4) - 1;
            if (newPosition > $(".colToList .session_type").length) {
                newPosition = $(".colToList .session_type").length - 1;
            }

            var jqxhr = $.ajax("https://glej.parlameter.si/pg/getWorkingBodies/" + id + "")
                    .done(function (data) {
                        var cont = $('<div class="tmpContainer clearfix" />').html(data);
                        if ($(window).width() < 768) {
                            cont.insertAfter(self);
                        } else {
                            cont.insertAfter($($(".colToList .session_type")[newPosition]));
                        }
                        DNDrepeatEmbedCall();

                        self.addClass("active");

                    })
                    .fail(function () {
                        var cont = $('<div class="tmpContainer clearfix" />').html("card not ok");
                        cont.insertAfter($($(".colToList .session_type")[newPosition]));
                    })
                    .always(function () {

                    });
            return false;
        });

        if (document.location.hash.length > 0) {
            var dataid = document.location.hash.split("-");
            $(".colToList").find("[data-id='" + dataid[1] + "']").trigger("click");
        }

    });

</script>

<% include ../../partials/footer.ejs %>