<% include ../../partials/header.ejs %>
<%if(typeof sesData !== 'undefined'){%>

<div class="session-container">
    <div class="row header  text-center">
        <div class="col-lg-12">

            <% if(typeof sesData !== "undefined" ){%>
            <div class="media-object img-circle session-logo backgroundred">
                <b>S</b>
            </div>

            <h1> <%-sesData.name%></h1>
            <h2> <%-sesData.org.name%></h2>

            <font class="date">
                <%-sesData.date%>
            </font>
            <br/>
            <font class="datepublished">
                podatki objavljeni: <%-sesData.date%> <%=(sesData.in_review)?'(v pregledu)':null%>
            </font>
            <% } %>

            <% //if((sesData.type != 'kolegij') && (sesData.votes == true)) { %>
            <div class="group-container-menu">
                <ul class="clearfix">
                    <li>
                        <a href="/seja/zakonodaja/<%- params.id %>">
                            Zakonodaja
                        </a>
                    </li>
                    <li>
                        <a href="/seja/druga-glasovanja/<%- params.id %>">
                            Druga glasovanja
                        </a>
                    </li>
                    <li>
                        <a href="/seja/transkript/<%- params.id %>">
                            Transkript
                        </a>
                    </li>
                </ul>
            </div>
            <% //} %>

        </div>
    </div>
</div>


<% if(sesData.votes){ %>
<div class="col-md-12 ">
    <%- views.glasovanjeSeja %>
</div>
<% }else{ %>
<%include ../../empty-state/state2.ejs %>
<% } %>




<%}else{ %>
<%include ../../error/404partial.ejs %>
<%}%>
<% include ../../partials/footer.ejs %>