</div>

<footer class="footer">
    <div class="container">
        <div class="row border_top">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <a href="<%- sm.landing.about %>" target="_blank" class="funblue-light-hover">
                            <%- i18n('footer.about') %></a>
                        <br>
                        <br>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <a class="btn doniraj" href="https://danesjenovdan.si/doniraj_parlameter/placaj/enkrat?campaign=1&lang=sl" target="_blank">
                            <%- i18n('footer.donate') %>
                            <i class="parlaicon parlaicon-doniraj">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                                    <path d="M35.3.5c-4.4 0-8.5 2.7-10.6 6.8-.2.3-.6.4-.8 0C21.6 3.2 17.6.5 13 .5 6.1.5.5 6.7.5 14.4c0 7.9 8.6 22.4 23 32.9.2.1.3.2.5.2s.3 0 .5-.1c14-9.2 23-25.9 23-33.3C47.5 6.6 42 .5 35.3.5z" class="red" /></svg>
                            </i>
                        </a>
                        <br>
                        <br>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <p><a href="/<%- sm.landing.media %>" class="funblue-light-hover">
                                <%- i18n('footer.press') %></a></p>
                        <p><a href="/<%- sm.landing.legal %>" class="funblue-light-hover">
                                <%- i18n('footer.legal') %></a></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <% Object.entries(config.otherAssemblyLinks || {}).forEach(entry => { %>
                            <p><a href="<%- entry[1] %>" target="_blank" class="funblue-light-hover"><%- entry[0] %></a></p>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border_tope">
            <div class="col-lg-6  col-md-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-4 col-xs-6">
                        <a href="mailto:<%- i18n('general.info_email') %>" class="mailto funblue-light-hover" data-mc="social" data-ma="link" data-mn="mail" data-mv="">
                            <%- i18n('general.info_email') %></a>
                    </div>
                    <div class="col-xs-6 parlaicon-social-align">
                        <a target="_blank" href="<%- i18n('social.facebook') %>" class="parlaicon parlaicon-facebook-parlameter nodec" data-mc="social" data-ma="link" data-mn="facebook" data-mv="">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                <path d="M50 2C23.49 2 2 23.49 2 50s21.49 48 48 48 48-21.49 48-48S76.51 2 50 2zm11.37 33.17h-7.215c-.855 0-1.805 1.125-1.805 2.62V43h9.025l-1.365 7.43h-7.66v22.305h-8.515V50.43H36.11V43h7.725v-4.37c0-6.27 4.35-11.365 10.32-11.365h7.215v7.905z" class="blue" /></svg>
                        </a>
                        <a target="_blank" href="<%- i18n('social.twitter') %>" class="parlaicon parlaicon-twitter-parlameter nodec" data-mc="social" data-ma="link" data-mn="twitter" data-mv="">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                <path d="M50 2C23.49 2 2 23.49 2 50s21.49 48 48 48 48-21.49 48-48S76.51 2 50 2zm19.525 39.32c.02.41.025.82.025 1.22 0 12.5-9.505 26.905-26.895 26.905-5.34 0-10.31-1.56-14.49-4.25.735.09 1.49.125 2.255.125 4.43 0 8.505-1.505 11.74-4.045a9.473 9.473 0 0 1-8.83-6.56 9.847 9.847 0 0 0 1.775.165 9.5 9.5 0 0 0 2.49-.33c-4.325-.87-7.585-4.69-7.585-9.27v-.115a9.48 9.48 0 0 0 4.285 1.185 9.451 9.451 0 0 1-4.205-7.875c0-1.73.465-3.36 1.28-4.755 4.665 5.72 11.625 9.48 19.485 9.885a9.32 9.32 0 0 1-.245-2.16c0-5.215 4.23-9.455 9.455-9.455a9.442 9.442 0 0 1 6.9 2.99 18.987 18.987 0 0 0 6-2.295 9.498 9.498 0 0 1-4.155 5.235 18.993 18.993 0 0 0 5.43-1.495 19.168 19.168 0 0 1-4.715 4.895z" class="blue" /></svg>
                        </a>
                        <% if (i18n.exists('social.instagram')) { %>
                            <a target="_blank" href="<%- i18n('social.instagram') %>" class="parlaicon parlaicon-instagram-parlameter nodec" data-mc="social" data-ma="link" data-mn="instagram" data-mv="">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512.02">
                                    <title>instagram</title>
                                    <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_1-2" data-name="Layer 1">
                                            <path d="M512.25,249.77v13.6c-3.5,131.6-108.3,238.8-235.9,248.9h-39C110.45,502.27,3.85,396,.25,263.57v-13.8C4.15,106.27,129.05-6.53,269.65.57,400.35,7.27,508.75,115.87,512.25,249.77Zm-103.1,70.6c.8-16.5.9-21.8.9-64s-.2-47.5-.9-64-3.4-27.8-7.1-37.7a77.06,77.06,0,0,0-17.6-27.6,74.83,74.83,0,0,0-27-18c-9.7-3.9-20.9-6.5-37.1-7.2s-21.5-1-62.9-1-46.7.2-62.9,1-27.4,3.4-37.1,7.2a73.17,73.17,0,0,0-27,18,76.21,76.21,0,0,0-17.6,27.6c-3.8,9.8-6.4,21.2-7.1,37.7s-.9,21.8-.9,64,.2,47.5.9,64,3.4,27.8,7.1,37.7a77.06,77.06,0,0,0,17.6,27.6,74.83,74.83,0,0,0,27,18c9.7,3.9,20.9,6.5,37.1,7.2s21.5,1,62.9,1,46.7-.2,62.9-1,27.4-3.4,37.1-7.2a73.17,73.17,0,0,0,27-18,76.21,76.21,0,0,0,17.6-27.6C405.85,348.27,408.45,336.87,409.15,320.37Z" transform="translate(-0.25 -0.25)" class="blue" />
                                            <path d="M377.85,193.37c.8,16.4.9,21.3.9,62.8s-.1,46.4-.9,62.8c-.6,15.1-3.1,23.4-5.3,28.9a48,48,0,0,1-11.5,17.8,47.07,47.07,0,0,1-17.5,11.6c-5.4,2.2-13.5,4.7-28.3,5.3-16.1.8-21,.9-61.8.9s-45.6-.1-61.8-.9c-14.9-.6-22.9-3.2-28.3-5.3a47.07,47.07,0,0,1-17.5-11.6,49.23,49.23,0,0,1-11.5-17.8c-2.1-5.5-4.5-13.7-5.3-28.9-.8-16.4-.9-21.3-.9-62.8s.1-46.4.9-62.8c.6-15.1,3.1-23.4,5.3-28.9a48,48,0,0,1,11.5-17.8,47.07,47.07,0,0,1,17.5-11.6c5.4-2.2,13.5-4.7,28.3-5.3,16.1-.7,21-.9,61.8-.9s45.6.1,61.8.9c14.9.6,22.9,3.2,28.3,5.3a47.07,47.07,0,0,1,17.5,11.6,49.23,49.23,0,0,1,11.5,17.8C374.65,170,377.05,178.17,377.85,193.37Zm-24.6-20.1a18.3,18.3,0,1,0-18.3,18.6A18.45,18.45,0,0,0,353.25,173.27Zm-21.4,83c0-44.1-35.1-79.8-78.4-79.8s-78.4,35.7-78.4,79.8,35.1,79.8,78.4,79.8S331.85,300.37,331.85,256.27Z" transform="translate(-0.25 -0.25)" class="blue" />
                                            <ellipse cx="253.2" cy="256.02" rx="50.9" ry="51.8" class="blue" />
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        <% } %>
                        <br>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-lg-6"></div>
        </div>
    </div>
    <div class="stripeelbottom"></div>
</footer>

<%- await include('donacija.ejs') %>
<script src="/js/js.js"></script>
</body>

</html>
