<!DOCTYPE html>
<html>

<head>
  <title><%- pageTitle %></title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="shortcut icon" type="image/x-icon" href="<%- config.urls.cdn %>/icons/favicon.ico">
  <meta name="google-site-verification" content="KR2vVdu1jrwHQR26kJHqQVzvC9fwJEoM1DOId7y7HWQ">

  <meta name="twitter:creator" content="@danesjenovdan">
  <meta name="twitter:description" content="<%- i18n('landing.lead') %>">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%- pageTitle %>">
  <meta name="twitter:image" content="<%- config.urls.cards %>/og-image/generic/?title=<%- encodeURIComponent(pageTitle) %>">

  <meta property="og:description" content="<%- i18n('landing.lead') %>">
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%- pageTitle %>">
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:image" content="<%- config.urls.cards %>/og-image/generic/?title=<%- encodeURIComponent(pageTitle) %>">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,500&amp;subset=latin,latin-ext">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,700">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="<%- config.urls.cdn %>/scss/style.css">

  <script src="https://cdn.polyfill.io/v2/polyfill.js?features=Array.prototype.find,Promise"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="https://unpkg.com/vue@2.5.17/dist/vue.min.js"></script>
  <script src="https://unpkg.com/vue-i18n@7.8.1/dist/vue-i18n.min.js"></script>
  <script src="https://cdn.ravenjs.com/3.24.1/vue/raven.min.js"></script>
  <script>/*Raven.config('https://b615fce983b843c8958aedcd3a9c9d60@sentry.ilol.si/70').install()*/</script>

  <!-- DONATION URLS -->
  <script>
    var donationThankYouUrl = '<%- config.urls.base %>/<%- sm.landing.thankYou %>';
    var donationErrorUrl = '<%- config.urls.base %>/<%- sm.landing.error %>';
  </script>
  <!-- END DONATION URLS -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42440762-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-42440762-1');
  </script>

  <style>
  .searchheader, .searchperson-container {
    width: 100% !important;
  }
  </style>
</head>
