<body>
  <header class="header">
    <div class="stripeeltop"></div>
    <div class="container">
      <div class="menu-container">
        <a class="logo" href="/">
          <img class="img-responsive" src="<%- config.urls.cdn %>/img/logo-parlameter.svg" alt="logo">
        </a>
        <div class="menu">
          <a href="/<%- sm.landing.legislation %>"><%- i18n('menu.legislation') %></a>
          <a href="/<%- sm.landing.sessions %>"><%- i18n('menu.sessions') %></a>
          <a href="/<%- sm.landing.members %>"><%- i18n('menu.mps') %></a>
          <a href="/<%- sm.landing.parties %>"><%- i18n('menu.pgs') %></a>
          <a href="/<%- sm.landing.tools %>"><%- i18n('menu.tools') %></a>
        </div>
        <div class="open-search"><span class="glyphicon glyphicon-search"></span></div>
        <div class="menu-search hidden">
          <%- await fetchCard('/c/menu-search') %>
        </div>
        <div class="close-search hidden"><span class="glyphicon glyphicon-remove"></span></div>
        <div class="mobile-menu__button">
          <span class="mobile-menu__bg"></span>
          <a href="#" class="mobile-menu__hambuger">
            <span class="mobile-menu__hambuger-line mobile-menu__hambuger-line--1"></span>
            <span class="mobile-menu__hambuger-line mobile-menu__hambuger-line--2"></span>
            <span class="mobile-menu__hambuger-line mobile-menu__hambuger-line--3"></span>
          </a>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
