<body>
  <header class="header">
    <div class="stripeeltop"></div>
    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand logo" href="/">
          <img class="img-responsive" src="<%- config.urls.cdn %>/img/logo-parlameter.svg" alt="parlameter logo">
          </a>
          <div class="mobile-menu__button">
            <span class="mobile-menu__bg"></span>
            <a href="#" class="mobile-menu__hambuger">
              <span class="mobile-menu__hambuger-line mobile-menu__hambuger-line--1"></span>
              <span class="mobile-menu__hambuger-line mobile-menu__hambuger-line--2"></span>
              <span class="mobile-menu__hambuger-line mobile-menu__hambuger-line--3"></span>
            </a>
          </div>
        </div>
        <div class="collapse-not navbar-collapse navbar-ex1-collapse">
          <ul class="visible nav navbar-nav">
            <li class="<%= activeMenu === 'legislation' ? 'active' : '' %>">
              <a href="/<%- sm.landing.legislation %>">Glasanja</a>
            </li>
            <li class="<%= activeMenu === 'sessions' ? 'active' : '' %>">
              <a href="/<%- sm.landing.sessions %>"><%- i18n('menu.sessions') %></a>
            </li>
            <li class="<%= activeMenu === 'mps' ? 'active' : '' %>">
              <a href="/<%- sm.landing.members %>"><%- i18n('menu.mps') %></a>
            </li>
            <li class="<%= activeMenu === 'pgs' ? 'active' : '' %>">
              <a href="/<%- sm.landing.parties %>"><%- i18n('menu.pgs') %></a>
            </li>
            <li class="<%= activeMenu === 'tools' ? 'active' : '' %>">
              <a href="/<%- sm.landing.tools %>"><%- i18n('menu.tools') %></a>
            </li>
            <li class="hidden-xs open-search">
              <a href="#"><span class="glyphicon glyphicon-search"></span></a>
            </li>
          </ul>
          <div class="search">
            <%- await fetchCard('/c/menu-search/'); %>
          </div>
          <div class="close-search glyphicon glyphicon-remove"></div>
        </div>
      </nav>
    </div>
  </header>
  <div class="container">

  <style>
    .navbar-collapse {
      position: relative;
    }
    .search, .close-search {
      display: none;
    }
    .search.visible {
      display: block;
      width: 70%;
      right: 30px;
      top: -20px;
      overflow: visible;
      z-index: 100;
      position: absolute;
    }

    .close-search.visible {
      display: block;
      position: absolute;
      right: 0;
      font-size: 20px;
      top: 25px;
      cursor: pointer;
    }

    .nav {
      display: none !important;
    }
    .nav.visible {
      display: inline-block !important;
      float: right !important;
    }
  </style>