<!-- SEARCH MODAL -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal-search-how">
  <div class="modal-dialog modal-wide modal-center" role="document">
    <div class="modal-center-wrapper">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-logo">
            <img class="img-responsive" src="<%- config.urls.cdn %>/img/logo-parlameter.svg" alt="parlameter logo">
          </div>
          <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><%- i18n('search_popup.title') %></h4>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <p>
              <%- i18n('search_popup.first_paragraph') %>
            </p>
            <p>
              <%- i18n('search_popup.second_paragraph') %>
            </p>
            <div class="row flex-wrap">
              <div class="col-sm-6">
                <div class="light-bg">
                  <h4><%- i18n('search_popup.operators[2].name') %></h4>
                  <p><%- i18n('search_popup.operators[2].description') %></p>
                  <div class="row">
                    <div class="col-xs-6">
                      <br>
                      <div><i><%- i18n('search_popup.operators[2].example_title') %></i></div>
                      <div><%- i18n('search_popup.operators[2].example_text') %></div>
                    </div>
                    <div class="col-xs-6">
                      <br>
                      <div><i><%- i18n('search_popup.operators[2].example_result_title') %></i></div>
                      <div>
                        <%- i18n('search_popup.operators[2].example_result_text') %>
                      </div>
                      <br>
                      <div><i><%- i18n('search_popup.operators[2].example_excluded_result_title') %></i></div>
                      <div>
                        <%- i18n('search_popup.operators[2].example_excluded_result_text') %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="light-bg">
                  <h4><%- i18n('search_popup.operators[3].name') %></h4>
                  <p><%- i18n('search_popup.operators[3].description') %></p>
                  <div class="row">
                    <div class="col-xs-6">
                      <br>
                      <div><i><%- i18n('search_popup.operators[3].example_title') %></i></div>
                      <div><%- i18n('search_popup.operators[3].example_text') %></div>
                    </div>
                    <div class="col-xs-6">
                      <br>
                      <div><i><%- i18n('search_popup.operators[3].example_result_title') %></i></div>
                      <div>
                        <%- i18n('search_popup.operators[3].example_result_text') %>
                      </div>
                      <br>
                      <div><i><%- i18n('search_popup.operators[3].example_excluded_result_title') %></i></div>
                      <div>
                        <%- i18n('search_popup.operators[3].example_excluded_result_text') %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row flex-wrap">
              <div class="col-sm-6">
                <div class="light-bg">
                  <h4><%- i18n('search_popup.operators[1].name') %></h4>
                  <p><%- i18n('search_popup.operators[1].description') %></p>
                  <div class="row">
                    <div class="col-xs-6">
                      <br>
                      <div><i><%- i18n('search_popup.operators[1].example_title') %></i></div>
                      <div><%- i18n('search_popup.operators[1].example_text') %></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /SEARCH MODAL -->
