<%- await include('../_partials/header.ejs') %>

<%
  var showInfoCard = false; // TODO: get from config
%>

<div class="row about-wrapper">
  <div class="<%- showInfoCard ? 'col-md-6' : 'col-md-10 col-md-offset-1' %>" id="about">
    <div class="lead-text-container <%- showInfoCard ? '' : 'text-center' %>">
      <a href="<%- sm.landing.about %>" target="_blank">
        <span class="lead-text">
        <%- i18n('landing.lead') %>
        </span>
      </a>
    </div>
    <% if (i18n.exists('landing.description')) { %>
    <div class="text-container <%- showInfoCard ? '' : 'text-center' %>">
      <span class="text">
      <%- i18n('landing.description') %>
      </span>
    </div>
    <% } %>
  </div>
  <% if (showInfoCard) { %>
  <div class="col-md-6">
    <%- await fetchCard('/misc/basic-information/', mandateId); %>
  </div>
  <% } %>
</div>

<div class="divider"><hr/></div>

<div class="landing">
  <div class="session-container session-search-container">
    <div class="row">
      <div class="col-lg-12">
        <div class="narrow-inner-container">
          <h2><%- i18n('landing.search.part_one'); %> </h2>
          <div id="about">
            <p class="public-col">
                <%- i18n('landing.search.part_two'); %>
            </p>
          </div>
          <style>
          /* TODO this is a dirty hack */
          [id^="misc_search"] {
            height: 0;
            z-index: 3;
          }
          </style>
          <div class="search-container">
            <%- await fetchCard('/misc/search/', mandateId); %>
          </div>
          <div class="searchinfo" data-mc="search" data-ma="infobox" data-mn="" data-mv="" data-toggle="modal" data-target="#modal-search-how">i</div>
        </div>
      </div>
    </div>
  </div>
  <%- await include('../_partials/search-popup.ejs') %>
</div>

<style>
  .searchinfo {
    top: auto;
    bottom: -55px;
    right: -20px;
  }
  @media (max-width: 767px) {
    .searchinfo {
      right: -8px;
    }
  }
</style>

<div class="row">
  <div class="col-md-12">
    <%# await fetchCard('/misc/promoted-legislation/', rootOrgId) %>
  </div>
  <div class="col-md-12">
    <%- await fetchCard('/misc/last-session/', rootOrgId) %>
  </div>
</div>

<%- await include('../_partials/footer.ejs') %>
