<%- await include('../_partials/header.ejs') %>

<div class="row">
  <div class="col-md-10 col-md-offset-1" id="about">
    <div class="lead-text-container">
      <a href="/<%- sm.landing.about %>">
        <span href="/<%- sm.landing.about %>" class="lead-text">
        <%- i18n('landing.lead') %>
        </span>
      </a>
    </div>
  </div>
</div>

<div class="landing">
  <div class="session-container session-search-container">
    <div class="row">
      <div class="col-lg-12">
        <div class="narrow-inner-container">
          <h2><%- i18n('landing.search.part_one'); %> </h2>
          <div id="about">
            <p class="public-col">
                <%- i18n('landing.search.part_two'); %>
            </p>
          </div>
          <style>
          /* TODO this is a dirty hack */
          #c-search {
            height: 0;
            z-index: 2;
          }
          </style>
          <div class="search-container">
            <%- await fetchCard('/c/search/'); %>
          </div>
          <div class="searchinfo" data-mc="search" data-ma="infobox" data-mn="" data-mv="" data-toggle="modal" data-target="#modal-search-how">i</div>
        </div>
      </div>
    </div>
  </div>
  <%- await include('../_partials/search-popup.ejs') %>
</div>

<style>
  .searchinfo {
    top: 118px;
  }
</style>

<div class="row">
  <div class="col-md-12">
    <%- await fetchCard('/c/izpostavljena-zakonodaja/') %>
  </div>
  <div class="col-md-12">
    <%- await fetchCard('/c/zadnja-seja/') %>
  </div>
</div>

<%- await include('../_partials/footer.ejs') %>
