<%- await include('../_partials/header.ejs') %>

<div class="col-md-12">
    <div class="card-container" id="about">
        <div class="card-content">
            <div class="col-md-10 col-md-offset-1">
                <div class="lead-text-container">
                    <span class="lead-text"><%- i18n('about.lead') %></span>
                </div>

                <div class="padded-text text-center"><%- i18n('about.afterlead') %></div>
            </div>

            <div class="col-md-12">
                <div class="video-container">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="<%- i18n('about.videourl') %>" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="col-md-4 public-col">
                    <div class="gradient-title"><%- i18n('about.columns.first.title') %></div>
                    <p><%- i18n('about.columns.first.paragraph') %></p>
                </div>

                <div class="col-md-4 public-col">
                        <div class="gradient-title"><%- i18n('about.columns.second.title') %></div>
                        <p><%- i18n('about.columns.second.paragraph') %></p>
                    </div>
    
                    <div class="col-md-4 public-col">
                        <div class="gradient-title"><%- i18n('about.columns.third.title') %></div>
                        <p><%- i18n('about.columns.third.paragraph') %></p>
                    </div>
            </div>

            <hr>

            <div class="col-md-10 col-md-offset-1">
                <div class="padded-text text-center"><%- i18n('about.thanks') %></div>
            </div>
        </div>

    </div>
</div>

<%- await include('../_partials/footer.ejs') %>
