<%- await include('../_partials/header.ejs') %>

<!-- TODO unfinished translations -->

<div class="col-md-12">
    <div class="card-container" id="about">
        <div class="card-content">

            <div class="col-md-12 text-center title-container">
                <span class="gradient-title"><%- i18n('press.title') %></span>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <div class="padded-text text-center"><%- i18n('press.body') %></div>
            </div>

            <div class="col-md-12 text-center title-container">
                <span class="gradient-title"><%- i18n('press.photos.title') %></span>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <a target="_blank" href="https://cdn.parlameter.si/v1/parlassets/img/press/zakonodaja-desktop-1.jpg"><img src="https://cdn.parlameter.si/v1/parlassets/img/press/zakonodaja-desktop-1.jpg"></a>
                    <div class="caption">
                        <div class="caption-text">Izpostavljena zakonodaja</div>
                        <div class="caption-icon"><a target="_blank" href="https://cdn.parlameter.si/v1/parlassets/img/press/zakonodaja-desktop-1.jpg"><i class="glyphicon glyphicon-cloud"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a target="_blank" href="https://cdn.parlameter.si/v1/parlassets/img/press/zakonodaja-desktop-2.jpg"><img src="https://cdn.parlameter.si/v1/parlassets/img/press/zakonodaja-desktop-2.jpg"></a>
                    <div class="caption">
                        <div class="caption-text">Seznam zakonodaje</div>
                        <div class="caption-icon"><a target="_blank" href="https://cdn.parlameter.si/v1/parlassets/img/press/zakonodaja-desktop-2.jpg"><i class="glyphicon glyphicon-cloud"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a target="_blank" href="https://cdn.parlameter.si/v1/parlassets/img/press/zakonodaja-desktop-3.jpg"><img src="https://cdn.parlameter.si/v1/parlassets/img/press/zakonodaja-desktop-3.jpg"></a>
                    <div class="caption">
                        <div class="caption-text">Zakon s povzetkom</div>
                        <div class="caption-icon"><a target="_blank" href="https://cdn.parlameter.si/v1/parlassets/img/press/zakonodaja-desktop-3.jpg"><i class="glyphicon glyphicon-cloud"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a target="_blank" href="https://cdn.parlameter.si/v1/parlassets/img/press/zakonodaja-mobile-1.jpg"><img src="https://cdn.parlameter.si/v1/parlassets/img/press/zakonodaja-mobile-1.jpg"></a>
                    <div class="caption">
                        <div class="caption-text">Zakonodaja na mobilnih telefonih</div>
                        <div class="caption-icon"><a target="_blank" href="https://cdn.parlameter.si/v1/parlassets/img/press/zakonodaja-mobile-1.jpg"><i class="glyphicon glyphicon-cloud"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a target="_blank" href="https://cdn.parlameter.si/v1/parlassets/img/press/Parlameter_logotip_za-svetlo-podlago.pdf"><img src="https://cdn.parlameter.si/v1/parlassets/img/press/Parlameter_logotip_za-svetlo-podlago.jpg"></a>
                    <div class="caption">
                        <div class="caption-text">Logotip (za svetlo podlago)</div>
                        <div class="caption-icon"><a target="_blank" href="img/press/Parlameter_logotip_za-svetlo-podlago.pdf"><i class="glyphicon glyphicon-cloud"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a target="_blank" href="https://cdn.parlameter.si/v1/parlassets/img/press/Parlameter_logotip_za-temno-podlago.pdf"><img src="https://cdn.parlameter.si/v1/parlassets/img/press/Parlameter_logotip_za-temno-podlago.jpg"></a>
                    <div class="caption">
                        <div class="caption-text">Logotip (za temno podlago)</div>
                        <div class="caption-icon"><a target="_blank" href="img/press/Parlameter_logotip_za-temno-podlago.pdf"><i class="glyphicon glyphicon-cloud"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a target="_blank" href="https://cdn.parlameter.si/v1/parlassets/img/press/Parlameter_prva-stran.jpg"><img src="https://cdn.parlameter.si/v1/parlassets/img/press/Parlameter_prva-stran_thumb.jpg"></a>
                    <div class="caption">
                        <div class="caption-text">Parlameter.si na računalniku</div>
                        <div class="caption-icon"><a target="_blank" href="img/press/Parlameter_prva-stran.jpg"><i class="glyphicon glyphicon-cloud"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a target="_blank" href="https://cdn.parlameter.si/v1/parlassets/img/press/Parlameter_seznam-poslanskih-skupin.jpg"><img src="https://cdn.parlameter.si/v1/parlassets/img/press/Parlameter_seznam-poslanskih-skupin_thumb.jpg"></a>
                    <div class="caption">
                        <div class="caption-text">Seznam poslanskih skupin na računalniku</div>
                        <div class="caption-icon"><a target="_blank" href="img/press/Parlameter_seznam-poslanskih-skupin.jpg"><i class="glyphicon glyphicon-cloud"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a target="_blank" href="https://cdn.parlameter.si/v1/parlassets/img/press/Parlameter_seznam-poslancev_mobile.jpg"><img src="https://cdn.parlameter.si/v1/parlassets/img/press/Parlameter_seznam-poslancev_mobile_thumb.jpg"></a>
                    <div class="caption">
                        <div class="caption-text">Seznam poslancev na mobilnem telefonu</div>
                        <div class="caption-icon"><a target="_blank" href="img/press/Parlameter_seznam-poslancev_mobile.jpg"><i class="glyphicon glyphicon-cloud"></i></a></div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 text-center title-container">
                <span class="gradient-title">Objave za medije</span>
            </div>

            <div class="col-md-12">
                <div class="post-entry clearfix">
                    <div class="post-info">
                        <div class="post-date">9. 1. 2018</div>
                        <div class="post-title"><a target="_blank" class="funblue-light-hover" href="https://docs.google.com/document/d/1MYKZBcZCeFjv6fmqJshxM_tLMtSTHRTegUsv9QjDGaU/edit?usp=sharing">Na Parlameter prihaja zakonodaja</a></div>
                    </div>
                    <div class="post-download"><a target="_blank" href="https://docs.google.com/document/d/1MYKZBcZCeFjv6fmqJshxM_tLMtSTHRTegUsv9QjDGaU/edit?usp=sharing"><i class="glyphicon glyphicon-cloud"></i></a></div>
                </div>
                <div class="post-entry clearfix">
                    <div class="post-info">
                        <div class="post-date">5. 12. 2016</div>
                        <div class="post-title"><a target="_blank" class="funblue-light-hover" href="https://docs.google.com/document/d/1Jh3QzxQUIEI4sdBoMhIox0BjH2qPvzaXbqTHEJN7BNE/">Zaživelo je spletno orodje Parlameter</a></div>
                    </div>
                    <div class="post-download"><a target="_blank" href="https://docs.google.com/document/d/1Jh3QzxQUIEI4sdBoMhIox0BjH2qPvzaXbqTHEJN7BNE/edit"><i class="glyphicon glyphicon-cloud"></i></a></div>
                </div>
                <div class="post-entry clearfix">
                    <div class="post-info">
                        <div class="post-date">24. 2. 2016</div>
                        <div class="post-title"><a target="_blank" class="funblue-light-hover" href="https://docs.google.com/document/d/1SL6M5DVHIgC63oVoe4A2Sj4p7z8auIqfPwjW0t363y8/">Google podelil sredstva inštitutu Danes je nov dan</a></div>
                    </div>
                    <div class="post-download"><a target="_blank" href="https://docs.google.com/document/d/1SL6M5DVHIgC63oVoe4A2Sj4p7z8auIqfPwjW0t363y8/edit"><i class="glyphicon glyphicon-cloud"></i></a></div>
                </div>
            </div>
        </div>

    </div>
</div>

<%- include('../_partials/footer.ejs') %>
