<%- await include('../_partials/header.ejs') %>

<!-- TODO unfinished translations -->
<div class="row">
    <div class="col-md-12">
        <div class="card-container" id="about">
            <div class="card-content">

                <div class="col-md-12 text-center title-container">
                    <span class="gradient-title"><%- i18n('press.title') %></span>
                </div>

                <div class="col-md-10 col-md-offset-1">
                    <div class="padded-text text-center"><%- i18n('press.body') %></div>
                </div>

                <div class="col-md-12 text-center title-container">
                    <span class="gradient-title"><%- i18n('press.video.title') %></span>
                </div>

                <div class="col-md-4">
                    <div class="thumbnail">
                        <a target="_blank" href="<%- config.urls.cdn %>/img/press/parlametar-1.png"><img src="<%- config.urls.cdn %>/img/press/parlametar-1.png"></a>
                        <div class="caption">
                            <div class="caption-text">&nbsp;</div>
                            <div class="caption-icon"><a target="_blank" href="<%- config.urls.cdn %>/img/press/parlametar-1.png"><i class="glyphicon glyphicon-cloud"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a target="_blank" href="<%- config.urls.cdn %>/img/press/parlametar-2.png"><img src="<%- config.urls.cdn %>/img/press/parlametar-2.png"></a>
                        <div class="caption">
                            <div class="caption-text">&nbsp;</div>
                            <div class="caption-icon"><a target="_blank" href="<%- config.urls.cdn %>/img/press/parlametar-2.png"><i class="glyphicon glyphicon-cloud"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a target="_blank" href="<%- config.urls.cdn %>/img/press/parlametar-3.png"><img src="<%- config.urls.cdn %>/img/press/parlametar-3.png"></a>
                        <div class="caption">
                            <div class="caption-text">&nbsp;</div>
                            <div class="caption-icon"><a target="_blank" href="<%- config.urls.cdn %>/img/press/parlametar-3.png"><i class="glyphicon glyphicon-cloud"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a target="_blank" href="<%- config.urls.cdn %>/img/press/parlametar-4.png"><img src="<%- config.urls.cdn %>/img/press/parlametar-4.png"></a>
                        <div class="caption">
                            <div class="caption-text">&nbsp;</div>
                            <div class="caption-icon"><a target="_blank" href="<%- config.urls.cdn %>/img/press/parlametar-4.png"><i class="glyphicon glyphicon-cloud"></i></a></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="thumbnail">
                        <a target="_blank" href="<%- config.urls.cdn %>/img/press/parlametar_logo.pdf"><img src="<%- config.urls.cdn %>/img/press/parlametar_logo.png"></a>
                        <div class="caption">
                            <div class="caption-text">&nbsp;</div>
                            <div class="caption-icon"><a target="_blank" href="<%- config.urls.cdn %>/img/press/parlametar_logo.pdf"><i class="glyphicon glyphicon-cloud"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a target="_blank" href="<%- config.urls.cdn %>/img/press/parlametar_logo_dark.pdf"><img src="<%- config.urls.cdn %>/img/press/parlametar_logo_dark.png"></a>
                        <div class="caption">
                            <div class="caption-text">&nbsp;</div>
                            <div class="caption-icon"><a target="_blank" href="<%- config.urls.cdn %>/img/press/parlametar_logo_dark.pdf"><i class="glyphicon glyphicon-cloud"></i></a></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 text-center title-container">
                    <span class="gradient-title"><%- i18n('press.releases.title') %></span>
                </div>

                <div class="col-md-12">
                    <div class="post-entry clearfix">
                        <div class="post-info">
                            <div class="post-date">14. 9. 2018</div>
                            <div class="post-title"><a target="_blank" class="funblue-light-hover" href="https://docs.google.com/document/d/1Rep4toNEfobaqGpYE2f-HoBhIrXz_oJkU12N8W-rBSE/">Predstavljamo vam Parlametar</a></div>
                        </div>
                        <div class="post-download"><a target="_blank" href="https://docs.google.com/document/d/1Rep4toNEfobaqGpYE2f-HoBhIrXz_oJkU12N8W-rBSE/"><i class="glyphicon glyphicon-cloud"></i></a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<%- await include('../_partials/footer.ejs') %>
