<div class="session-container">
  <div class="row header text-center">
    <div class="col-lg-12">
      <div class="media-object img-circle session-logo backgroundblue">
        <b>S</b>
      </div>

      <h1><%- session.name %></h1>

      <div class="session-extra-info">
        <h2><%- session.organizations[0].name %></h2>
        <h3><%- slovenianDate(session.start_time) %></h3>
      </div>

      <div class="group-container-menu">
        <ul class="clearfix">
          <% if (session.has_legislation && (lang !== 'sl-obcine')) { %>
            <li><a href="/<%- sm.session.base %>/<%- session.id %>/<%- sm.session.legislation %>" class="<%- activeTab === 'zakonodaja' ? 'active' : '' %> nav-icon nav-icon-overview"><%- i18n('general.legislation') %></a></li>
          <% } %>
          <% if (session.has_minutes) { %>
            <li><a href="/<%- sm.session.base %>/<%- session.id %>/<%- sm.session.agenda %>" class="<%- activeTab === 'dnevni-red' ? 'active' : '' %> nav-icon nav-icon-overview"><%- i18n('general.agenda') %></a></li>
          <% } %>
          <li><a href="/<%- sm.session.base %>/<%- session.id %>/<%- sm.session.otherVotings %>" class="<%- activeTab === 'glasovanja' ? 'active' : '' %> nav-icon nav-icon-votings"><%- i18n('general.other_votings') %></a></li>
          <% if (session.has_transcript) { %>
            <li><a href="/<%- sm.session.base %>/<%- session.id %>/<%- sm.session.transcript %>" class="<%- activeTab === 'transkript' ? 'active' : '' %> nav-icon nav-icon-transcripts"><%- i18n('general.transcripts') %></a></li>
          <% } %>
          <% if (!session.has_transcript && session.has_minutes) { %>
            <li><a href="/<%- sm.session.base %>/<%- session.id %>/<%- sm.session.minutes %>" class="<%- activeTab === 'minutes' ? 'active' : '' %> nav-icon nav-icon-transcripts"><%- i18n('general.minutes') %></a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</div>
