<div class="session-container">
  <div class="row header text-center">
    <div class="col-lg-12">
      <div class="media-object img-circle session-logo backgroundblue">
        <b>S</b>
      </div>
      <h1><%- session.name %></h1>
      <h2><%- session.organizations[0].name %></h2>
      <div class="date">
        <%= slovenianDate(session.start_time) %>
      </div>
      <div class="datepublished">
        <!-- <%- i18n('general.data_published') %>: <%- slovenianDate(session.start_time) %> <%= session.in_review ? i18n('general.in_review') : '' %> -->
      </div>
      <div class="group-container-menu">
        <ul class="clearfix">
          <li><a href="/<%- sm.session.base %>/<%- session.id %>/<%- sm.session.agenda %>" class="<%- activeTab === 'dnevni-red' ? 'active' : '' %> nav-icon nav-icon-overview"><%- i18n('general.agenda') %></a></li>
          <li><a href="/<%- sm.session.base %>/<%- session.id %>/<%- sm.session.otherVotings %>" class="<%- activeTab === 'glasovanja' ? 'active' : '' %> nav-icon nav-icon-votings"><%- i18n('general.other_votings') %></a></li>
          <!-- <li><a href="/<%- sm.session.base %>/<%- session.id %>/<%- sm.session.transcript %>" class="<%- activeTab === 'transkript' ? 'active' : '' %> nav-icon nav-icon-transcripts"><%- i18n('general.transcripts') %></a></li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
