<% include ../../partials/header.ejs %>

<% if (!mp.active) { %>
    <style>
        body {
            filter: grayscale(100%);
        }
    </style>
<% } %>

<div class="member-container">
    <div class="row header text-center">
        <div class="col-lg-12">

            <img src="https://cdn.parlameter.si/v1/parlassets/img/people/square/<%- mp.gov_id %>.png"
                 class="media-object img-circle session-logo <%- mp.party.acronym.toLowerCase().replace(/ /g, '_') %>-background  <%- mp.party.acronym.toLowerCase().replace(/ /g, '_') %>-fill  <%- mp.party.acronym.toLowerCase().replace(/ /g, '_') %>-border "/>

            <h1><%- mp.name %></h1>
            <h2><%= mp.party.acronym %></h2>
            <h3><%= mp.party.is_coalition ? "koalicija" : "opozicija" %></h3>
            <h3>NEAKTIVEN</h3>

            <div class="member-container-menu">
                <ul class="clearfix">
                    <li>
                        <a href="/p/<%- slug %>/pregled" class="active">Pregled</a>
                    </li>
                    <li>
                        <a href="/p/<%- slug %>/glasovanja">Glasovanja</a>
                    </li>
                    <li>
                        <a href="/p/<%- slug %>/govori">Govori</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="col-md-6 ">
    <%- views.osnovneInformacije %>
</div>
<div class="col-md-6 ">
    <%- views.zadnjeAktivnosti %>
</div>
<div class="col-md-12 ">
    <%- views.kompas %>
</div>
<div class="col-md-6 ">
    <%- views.izracunanaPrisotnostSeje %>
</div>
<div class="col-md-6 ">
    <%- views.izracunanaPrisotnostGlasovanja %>
</div>
<div class="col-md-6 ">
    <%- views.clanstva %>
</div>

<% include ../../partials/footer.ejs %>
