<style>
.party-list-generator li {
  font-size: 12px !important;
}

.party-list-generator li a {
  color: #fff;
  text-decoration: none;
}
</style>

<%
  var tools = [
    { id: 'obvestila', label: 'Parlameter obvestila', link: 'https://obvestila.parlameter.si/' },
    { id: 'primerjalnik-glasovanj', label: 'Primerjalnik glasovanj', link: '/orodja/primerjalnik-glasovanj' },
    { id: 'raziskovalec-neenotnosti', label: 'Raziskovalec neenotnosti', link: '/orodja/raziskovalec-neenotnosti' },
    { id: 'parlamentarni-kompas', label: 'Parlamentarni kompas', link: '/orodja/parlamentarni-kompas' },
    // { id: 'parlatube', label: 'Parlatube', link: '/orodja/parlatube' },
    { id: 'skupine-besed', label: 'Skupine besed', link: '/orodja/skupine-besed' },
  ];
%>

<div id="orodja-tabs-container" class="row">
  <div class="party-list-generator col-md-12">
    <ul class="analyses">
      <li class="<%- (i18n('tools[0].id') === currentTool) ? 'selected' : '' %>">
        <a href="<%- i18n('tools[0].link') %>"><%- i18n('tools[0].label') %></a>
      </li>
      <li class="<%- (i18n('tools[1].id') === currentTool) ? 'selected' : '' %>">
        <a href="<%- i18n('tools[1].link') %>"><%- i18n('tools[1].label') %></a>
      </li>
      <li class="<%- (i18n('tools[2].id') === currentTool) ? 'selected' : '' %>">
        <a href="<%- i18n('tools[2].link') %>"><%- i18n('tools[2].label') %></a>
      </li>
      <li class="<%- (i18n('tools[3].id') === currentTool) ? 'selected' : '' %>">
        <a href="<%- i18n('tools[3].link') %>"><%- i18n('tools[3].label') %></a>
      </li>
      <li class="<%- (i18n('tools[4].id') === currentTool) ? 'selected' : '' %>">
        <a href="<%- i18n('tools[4].link') %>"><%- i18n('tools[4].label') %></a>
      </li>
    </ul>

    <div class="mobile-analyses">
      <label for="tool">Izberi orodje</label>
      <div class="select">
        <select name="tools" id="tools" onchange="javascript:window.location.href = this.value">
          <option value="<%- i18n('tools[0].link') %>" <%- (i18n('tools[0].id') === currentTool) ? 'selected' : '' %>>
            <%- i18n('tools[0].label') %>
          </option>
          <option value="<%- i18n('tools[1].link') %>" <%- (i18n('tools[1].id') === currentTool) ? 'selected' : '' %>>
            <%- i18n('tools[1].label') %>
          </option>
          <option value="<%- i18n('tools[2].link') %>" <%- (i18n('tools[2].id') === currentTool) ? 'selected' : '' %>>
            <%- i18n('tools[2].label') %>
          </option>
          <option value="<%- i18n('tools[3].link') %>" <%- (i18n('tools[3].id') === currentTool) ? 'selected' : '' %>>
            <%- i18n('tools[3].label') %>
          </option>
          <option value="<%- i18n('tools[4].link') %>" <%- (i18n('tools[4].id') === currentTool) ? 'selected' : '' %>>
            <%- i18n('tools[4].label') %>
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
