<%- await include('../_partials/header.ejs') %>

<div id="orodja-container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1" id="about">
      <div class="lead-text-container text-center">
        <span class="lead-text"><%- i18n('general.tools_intro') %></span>
      </div>
    </div>
  </div>

  <!-- <div class="row tool-row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 tool">
      <div class="tool-content obvestila">
        <a class="tool__overlay-link" href="<%- sm.landing.tools %>/<%- sm.tools.notifications %>"><%- i18n('tools.notifications.title') %></a>
        <div class="img-circle circle"></div>
        <h3 class="tool-title"><%- i18n('tools.notifications.title') %></h3>
        <p class="tool-desc"><%- i18n('tools.notifications.text') %></p>
        <span class="tool-arrow"></span>
      </div>
    </div> -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 tool">
      <div class="tool-content primerjalnik-glasovanj">
        <a class="tool__overlay-link" href="<%- sm.landing.tools %>/<%- sm.tools.voteComparator %>"><%- i18n('tools.voteComparator.title') %></a>
        <div class="img-circle circle"></div>
        <h3 class="tool-title"><%- i18n('tools.voteComparator.title') %></h3>
        <p class="tool-desc"><%- i18n('tools.voteComparator.text') %></p>
        <span class="tool-arrow"></span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 tool">
      <div class="tool-content raziskovalec-neenotnosti">
        <a class="tool__overlay-link" href="<%- sm.landing.tools %>/<%- sm.tools.discord %>"><%- i18n('tools.discord.title') %></a>
        <div class="img-circle circle"></div>
        <h3 class="tool-title"><%- i18n('tools.discord.title') %></h3>
        <p class="tool-desc"><%- i18n('tools.discord.text') %></p>
        <span class="tool-arrow"></span>
      </div>
    </div>
    <!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 tool">
      <div class="tool-content parlamentarni-kompas">
        <a class="tool__overlay-link" href="<%- sm.landing.tools %>/<%- sm.tools.compass %>"><%- i18n('tools.compass.title') %></a>
        <div class="img-circle circle"></div>
        <h3 class="tool-title"><%- i18n('tools.compass.title') %></h3>
        <p class="tool-desc"><%- i18n('tools.compass.text') %></p>
        <span class="tool-arrow"></span>
      </div>
    </div> -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 tool">
      <div class="tool-content skupine-besed">
        <a class="tool__overlay-link" href="<%- sm.landing.tools %>/<%- sm.tools.wordGroups %>"><%- i18n('tools.wordGroups.title') %></a>
        <div class="img-circle circle"></div>
        <h3 class="tool-title"><%- i18n('tools.wordGroups.title') %></h3>
        <p class="tool-desc"><%- i18n('tools.wordGroups.text') %></p>
        <span class="tool-arrow"></span>
      </div>
    </div>
  </div>
</div>

<%- await include('../_partials/footer.ejs') %>
