<%- await include('../_partials/header.ejs') %>

<div id="orodja-container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1" id="about">
      <div class="lead-text-container">
        <span class="lead-text"><%- i18n('general.tools_intro') %></span>
      </div>
    </div>
  </div>

  <div class="row tool-row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 tool">
      <div class="tool-content <%- i18n('tools[0].icon') %>">
        <a class="tool__overlay-link" href="<%- i18n('tools[0].link') %>"><%- i18n('tools[0].label') %></a>
        <div class="img-circle circle"></div>
        <h3 class="tool-title"><%- i18n('tools[0].label') %></h3>
        <p class="tool-desc"><%- i18n('tools[0].text') %></p>
        <a class="tool-arrow" href="#"></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 tool">
      <div class="tool-content <%- i18n('tools[1].icon') %>">
        <a class="tool__overlay-link" href="<%- sm.landing.tools %>/<%- sm.tools.voteComparator %>"><%- i18n('tools[1].label') %></a>
        <div class="img-circle circle"></div>
        <h3 class="tool-title"><%- i18n('tools[1].label') %></h3>
        <p class="tool-desc"><%- i18n('tools[1].text') %></p>
        <a class="tool-arrow" href="#"></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 tool">
      <div class="tool-content <%- i18n('tools[2].icon') %>">
        <a class="tool__overlay-link" href="<%- sm.landing.tools %>/<%- sm.tools.discord %>"><%- i18n('tools[2].label') %></a>
        <div class="img-circle circle"></div>
        <h3 class="tool-title"><%- i18n('tools[2].label') %></h3>
        <p class="tool-desc"><%- i18n('tools[2].text') %></p>
        <a class="tool-arrow" href="#"></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 tool">
      <div class="tool-content <%- i18n('tools[3].icon') %>">
        <a class="tool__overlay-link" href="<%- sm.landing.tools %>/<%- sm.tools.compass %>"><%- i18n('tools[3].label') %></a>
        <div class="img-circle circle"></div>
        <h3 class="tool-title"><%- i18n('tools[3].label') %></h3>
        <p class="tool-desc"><%- i18n('tools[3].text') %></p>
        <a class="tool-arrow" href="#"></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 tool">
      <div class="tool-content <%- i18n('tools[4].icon') %>">
        <a class="tool__overlay-link" href="<%- sm.landing.tools %>/<%- sm.tools.wordGroups %>"><%- i18n('tools[4].label') %></a>
        <div class="img-circle circle"></div>
        <h3 class="tool-title"><%- i18n('tools[4].label') %></h3>
        <p class="tool-desc"><%- i18n('tools[4].text') %></p>
        <a class="tool-arrow" href="#"></a>
      </div>
    </div>
  </div>
</div>

<% include('../_partials/footer.ejs') %>
