<% include ../../partials/header.ejs %>

<style>
    .session-logo{
        margin-top:25px;
        margin-bottom:0;
    }
</style>

<div class="row header">

    <div class="col-md-6">

        <% if(typeof sesData !== "undefined" ){%>
        <div class="row">
            <div class="col-xs-3 text-center">
                <div class="media-object img-circle session-logo">
                    <b>S</b>
                </div>
            </div>
            <div class="col-md-9">
                <h1>
                    <%-sesData.name%>
                </h1>
                <font class="date">
                    <%-sesData.date%>
                </font>
                <br/>
                <font>
                    podatki objavljneni: <%-sesData.date%>
                </font>
            </div>
        </div>
        <% } %>
    </div>
    <div class="col-md-6">
        <div class="session_transcript_menu pull-right">

            <ul class="clearfix">
                <li>
                    <a href="/seja/glasovanja/<%- params.id %>">
                        Glasovanja
                    </a>
                </li>
                <li>
                    <a href="/seja/transkript/<%- params.id %>" class="active">
                        Transkript
                    </a>
                </li>
                <li>
                    <a href="/seja/prisotnost/<%- params.id %>">
                        Prisotnost
                    </a>
                </li>
            </ul>


        </div>

    </div>


</div>

<div class="col-md-12 ">
    <%- views.besedeKiSoZaznamovaleSejo %>
</div>
<div class="col-md-12 ">
    <%- views.transkript %>
</div>

<% include ../../partials/footer.ejs %>
