<% include ../../partials/header.ejs %>
<%if(typeof sesData !== 'undefined'){%>

<div class="session-container">
    <div class="row header text-center">
        <div class="col-lg-12">

            <% if(typeof sesData !== "undefined" ){%>
            <div class="media-object img-circle session-logo backgroundred">
                <b>S</b>
            </div>

            <h1> <%-sesData.name%></h1>
            <h2> <%-sesData.org.name%></h2>

            <font class="date">
                <%-sesData.date%>
            </font>
            <br/>
            <font class="datepublished">
                podatki objavljeni: <%-sesData.date%> <%=(sesData.in_review)?'(v pregledu)':null%>
            </font>
            <% } %>

            <% if((sesData.type != 'kolegij') && (sesData.votes == true)) { %>
            <div class="group-container-menu">
                <ul class="clearfix">
                    <li>
                        <a href="/seja/glasovanja/<%- params.id %>">
                            Glasovanja
                        </a>
                    </li>
                    <li>
                        <a href="/seja/transkript/<%- params.id %>" class="active">
                            Transkript
                        </a>
                    </li>
                    <li>
                        <a href="/seja/prisotnost/<%- params.id %>">
                            Prisotnost
                        </a>
                    </li>
                </ul>
            </div>
            <% } %>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 ">
        <% if (sesData.type != 'kolegij') { %>
            <%- views.besedeKiSoZaznamovaleSejo %>
        <%}%>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3 class="celtranskript">Cel transkript</h3>
    </div>
    <div class="col-md-6">
        <div class="odpri-vse pull-right">Odpri vse govore</div>
    </div>
</div>

<div class="row">
    <div class="here-are-the-speeches"></div>
</div>

<script>
function sortID(a,b) {
    return a - b;
}
$.get('https://analize.parlameter.si/v1/s/getSpeechesIDsOfSession/5572', function(r) {
    var url_base = 'https://glej.parlameter.si/s/speech/'
    var results = r.results.sort(sortID);

    var i = 0;

    results.forEach(function(e) {
        if (i < 10) {
            $('.here-are-the-speeches').append('<div id="s' + String(e) + '" class="col-xs-12"><div class="card-container card-halfling"><div class="card-header"><div class="card-header-border"></div><h1>Nalagamo govor ...</h1></div><div class="card-content half"><div class="card-content-front"><div class="nalagalnik"></div></div></div><div class="card-footer"><div class="card-logo hidden"><a href="https://skoraj.parlameter.si/"><img src="https://cdn.parlameter.si/v1/parlassets/img/logo-parlameter.svg" alt="parlameter logo"></a></div><div class="card-circle-button card-share" data-back="share"></div><div class="card-circle-button card-embed" data-back="embed"></div><div class="card-circle-button card-info" data-back="info">i</div></div></div></div>');

            var myid = e;
            var jqxhr = $.ajax(url_base + String(myid))
                .done(function (data) {

                    $("#" + String(myid)).html(data);
                    DNDrepeatEmbedCall();
                })
                .fail(function () {
                    $("#" + String(myid)).html(String(myid));
                })
                .always(function () {
                
                });
        }
        i = i + 1;
    });
});
</script>




<script>
    $('.odpri-vse').on('click', function() {
        if ($(this).text() === 'Odpri vse govore') {
            $(this).text('Zapri vse govore');
        } else {
            $(this).text('Odpri vse govore');
        }
        $('.toggle-arrow').click();
    });
</script>


<%}else{ %>
    <%include ../../error/404partial.ejs %>
<%}%>
<% include ../../partials/footer.ejs %>
