<%
function getActiveMenu(inp) {
    var $el = inp.split(",");
    for (var i = 0; i < $el.length; i++) {
        if (activeMenu == $el[i]) {
            return "active";
        }
    }
    return '';
}
%>
<!DOCTYPE html>
<html>

<head>
    <title><%- pageTitle %></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,500&subset=latin,latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,700" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='https://cdn.parlameter.si/v1/parlassets/icons/favicon.ico'/>

    <meta name="twitter:creator" content="@danesjenovdan">
    <meta name="twitter:description" content="Parlameter je orodje, ki z analizo glasovanj in transkriptov nastopov lajša spremljanje dela v Državnem zboru.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%- pageTitle %>">
    <meta name="twitter:image" content="<%- ogImageUrl %>">

    <meta property="og:description" content="Parlameter je orodje, ki z analizo glasovanj in transkriptov nastopov lajša spremljanje dela v Državnem zboru.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%- pageTitle %>">
    <meta property="og:image" content="<%- ogImageUrl %>">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.parlameter.si/v1/parlassets/scss/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/typeahead.bundle.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/script.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <!-- <script src="https://cdn.parlameter.si/v1/parlassets/js/components.js"></script> -->
    <script>
    !function(e){function t(o){if(n[o])return n[o].exports;var r=n[o]={i:o,l:!1,exports:{}};return e[o].call(r.exports,r,r.exports,t),r.l=!0,r.exports}var n={};return t.m=e,t.c=n,t.i=function(e){return e},t.d=function(e,n,o){t.o(e,n)||Object.defineProperty(e,n,{configurable:!1,enumerable:!0,get:o})},t.n=function(e){var n=e&&e.__esModule?function(){return e.default}:function(){return e};return t.d(n,"a",n),n},t.o=function(e,t){return Object.prototype.hasOwnProperty.call(e,t)},t.p="/js/",t(t.s=9)}([function(e,t,n){var o,r;o=n(3);var s=n(7);r=o=o||{},"object"!=typeof o.default&&"function"!=typeof o.default||(r=o=o.default),"function"==typeof r&&(r=r.options),r.render=s.render,r.staticRenderFns=s.staticRenderFns,e.exports=o},function(e,t,n){var o,r;o=n(4);var s=n(6);r=o=o||{},"object"!=typeof o.default&&"function"!=typeof o.default||(r=o=o.default),"function"==typeof r&&(r=r.options),r.render=s.render,r.staticRenderFns=s.staticRenderFns,e.exports=o},function(e,t,n){var o,r;o=n(5);var s=n(8);r=o=o||{},"object"!=typeof o.default&&"function"!=typeof o.default||(r=o=o.default),"function"==typeof r&&(r=r.options),r.render=s.render,r.staticRenderFns=s.staticRenderFns,e.exports=o},function(e,t,n){"use strict";Object.defineProperty(t,"__esModule",{value:!0});var o=23,r=10;t.default={data:function(){return{filter:"",active:!1,focused:-1}},watch:{filter:function(){this.focus(this.focused)}},computed:{filteredItems:function(){var e=this,t=function(t){return t.filter(function(t){return t.selected||t.label.toLowerCase().indexOf(e.filter.toLowerCase())>-1}).sort(function(t,n){return e.alphabetise&&Boolean(t.selected)===Boolean(n.selected)?t.label.localeCompare(n.label,"sl"):t.selected&&!n.selected?-1:!t.selected&&n.selected?1:0})};return this.groups?this.groups.map(function(n){var o=t(e.items.filter(function(e){return n.items.indexOf(e.id)>-1}));return o.forEach(function(e,t){e.groupLabel=0===t?n.label:null}),o}).reduce(function(e,t){return e.concat(t)},[]):t(this.items)},selectedIds:function(){return this.filteredItems.filter(function(e){return e.selected}).map(function(e){return e.id})}},directives:{clickOutside:{bind:function(e,t){var n=function(n){e.contains(n.target)||e===n.target||t.value(n)};e.vueClickOutside=n,document.addEventListener("click",n)},unbind:function(e){document.removeEventListener("click",e.vueClickOutside),e.vueClickOutside=null}}},props:{items:{type:Array,required:!0},placeholder:{type:String,required:!0},groups:{type:Array,required:!1},alphabetise:{type:Boolean,required:!1,default:!0}},methods:{toggleItem:function(e){var t=-1;this.items.forEach(function(n,o){n.id===e&&(t=o)});var n=JSON.parse(JSON.stringify(this.items[t]));n.selected=!n.selected,this.items.splice(t,1,n)},toggleDropdown:function(e){e===!1&&(this.filter=""),this.active=e},clearSelection:function(){this.selectedIds.forEach(this.toggleItem)},focus:function(e,t){if(this.focused=Math.max(Math.min(this.filteredItems.length-1,e),-1),t){var n=this.filteredItems.slice(0,this.focused+1).map(function(e){return e.groupLabel?1:0}).reduce(function(e,t){return e+t},0),s=this.$el.lastChild,i=(this.focused+n)*o;i<s.scrollTop?s.scrollTop=i:i>s.scrollTop+(r-1)*o&&(s.scrollTop=i-(r-1)*o)}}}}},function(e,t,n){"use strict";Object.defineProperty(t,"__esModule",{value:!0}),t.default={name:"Tab",props:{header:{type:String,required:!0}},created:function(){this.$parent.tabs.push(this),this.$parent.headers.push(this.header)},computed:{show:function(){return this.$parent.show===this}}}},function(e,t,n){"use strict";Object.defineProperty(t,"__esModule",{value:!0}),t.default={name:"Tabs",data:function(){return{tabs:[],headers:[],active:null,show:null}},watch:{active:function(e){this.show=this.tabs[e]}},mounted:function(){this.active=0},methods:{select:function(e){this.active!==e&&(this.active=e)}}}},function(e,t){e.exports={render:function(){var e=this,t=e.$createElement,n=e._self._c||t;return n("div",{directives:[{name:"show",rawName:"v-show",value:e.show,expression:"show"}],staticClass:"tab-content"},[e._t("default")],2)},staticRenderFns:[]}},function(e,t){e.exports={render:function(){var e=this,t=e.$createElement,n=e._self._c||t;return n("div",{directives:[{name:"click-outside",rawName:"v-click-outside",value:function(){e.toggleDropdown(!1)},expression:"function() { toggleDropdown(false) }"}],staticClass:"search-dropdown"},[e.selectedIds.length>0?n("div",{staticClass:"search-dropdown-clear",on:{click:e.clearSelection}},[e._v("×")]):e._e(),e._v(" "),n("input",{directives:[{name:"model",rawName:"v-model",value:e.filter,expression:"filter"}],staticClass:"search-dropdown-input",attrs:{type:"text",placeholder:e.placeholder},domProps:{value:e._s(e.filter)},on:{focus:function(t){e.toggleDropdown(!0)},keydown:[function(t){e._k(t.keyCode,"enter",13)||(t.preventDefault(),e.toggleItem(e.filteredItems[e.focused].id))},function(t){e._k(t.keyCode,"up",38)||(t.preventDefault(),e.focus(e.focused-1,!0))},function(t){e._k(t.keyCode,"down",40)||(t.preventDefault(),e.focus(e.focused+1,!0))}],input:function(t){t.target.composing||(e.filter=t.target.value)}}}),e._v(" "),n("ul",{class:["search-dropdown-options",{visible:this.active}],on:{mouseleave:function(t){e.focus(-1)}}},[e._l(e.filteredItems,function(t,o){return[t.groupLabel?n("li",{staticClass:"search-dropdown-group-label"},[e._v("\n        "+e._s(t.groupLabel)+"\n      ")]):e._e(),e._v(" "),n("li",{class:{selected:t.selected,focused:e.focused===o},on:{click:function(n){e.toggleItem(t.id)},mouseenter:function(t){e.focus(o)}}},[n("div",{staticClass:"search-dropdown-label"},[e._v(e._s(t.label))]),e._v(" "),t.count?n("div",[e._v(e._s(t.count))]):e._e()])]})],2)])},staticRenderFns:[]}},function(e,t){e.exports={render:function(){var e=this,t=e.$createElement,n=e._self._c||t;return n("div",{staticClass:"tabs"},[n("ul",{staticClass:"tabs-headers"},e._l(e.headers,function(t,o){return n("li",{class:["tabs-header",{active:o===e.active}],on:{click:function(t){e.select(o)}}},[n("span",[e._v(e._s(t))])])})),e._v(" "),n("div",{staticClass:"tabs-content"},[e._t("default")],2)])},staticRenderFns:[]}},function(e,t,n){"use strict";Object.defineProperty(t,"__esModule",{value:!0});var o=n(0),r=n.n(o),s=n(2),i=n.n(s),c=n(1),u=n.n(c);Vue.component("SearchDropdown",r.a),Vue.component("Tab",u.a),Vue.component("Tabs",i.a)}]);
    </script>

    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(["setDomains", ["*.parlameter.si"]]);
        _paq.push(["disableCookies"]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        _paq.push(['enableHeartBeatTimer']);
        (function() {
            var u="//zy.si/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '13']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <noscript><p><img src="//zy.si/piwik.php?idsite=13" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
</head>

<style>





</style>

<body>

<header class="header">
    <div class="stripeeltop"></div>
    <div class="container">

        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand logo" href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 282.82 170.08">
                        <title>Asset 1</title>
                        <g id="Layer_2" data-name="Layer 2">
                            <g id="Layer_1-2" data-name="Layer 1">
                                <g id="_Group_" data-name="&lt;Group&gt;">
                                    <path id="_Path_" data-name="&lt;Path&gt;" class="cls-1"
                                          d="M79.9,60.19l-.35,5.51A32.17,32.17,0,0,1,56.69,94.49,32.17,32.17,0,0,1,33.84,65.71l-.35-5.51H0v49.69H132.28V60.19Z"/>
                                    <path id="_Path_2" data-name="&lt;Path&gt;" class="cls-2"
                                          d="M0,0V49.69H32.83L32,37.13q.86-.41,1.73-.8h0a56.83,56.83,0,0,1,45.86,0h0q.87.39,1.73.8l-.79,12.57H207.87V0Z"/>
                                    <g id="_Group_2" data-name="&lt;Group&gt;">
                                        <path id="_Compound_Path_" data-name="&lt;Compound Path&gt;" class="cls-3"
                                              d="M12.46,149.56H6.57v20.52H.37v-49.7H12.46c6.34,0,10,3.36,10,10.22v8.81C22.46,146.2,18.81,149.56,12.46,149.56Zm3.73-19.25c0-2.84-1-4.33-3.66-4.33h-6v18.21h6c2.61,0,3.66-1.64,3.66-4.4Z"/>
                                        <path id="_Compound_Path_2" data-name="&lt;Compound Path&gt;" class="cls-3"
                                              d="M43.73,170.08l-2-11.42H32.91l-2.09,11.42h-5.9l9.33-49.7h6.57l9.25,49.7Zm-6.34-38.21-3.51,21.27h6.87Z"/>
                                        <path id="_Compound_Path_3" data-name="&lt;Compound Path&gt;" class="cls-3"
                                              d="M65.67,149.11H62.24v21H56v-49.7H68.13c6.34,0,9.93,3.21,9.93,10.07V139c0,4.33-1.87,7.91-6,9.25,0-.07,6.72,21.87,6.72,21.87H72.09Zm1.79-5.37c2.84,0,4.4-1.64,4.4-4.78v-8.81c0-2.54-1-4.18-3.73-4.18h-5.9v17.76Z"/>
                                        <path id="_Compound_Path_4" data-name="&lt;Compound Path&gt;" class="cls-3"
                                              d="M85.52,170.08v-49.7h6.19v44h12.91v5.75Z"/>
                                        <path id="_Compound_Path_5" data-name="&lt;Compound Path&gt;" class="cls-3"
                                              d="M127.38,170.08l-2-11.42h-8.81l-2.09,11.42h-5.9l9.33-49.7h6.57l9.25,49.7ZM121,131.87l-3.51,21.27h6.87Z"/>
                                        <path id="_Compound_Path_6" data-name="&lt;Compound Path&gt;" class="cls-3"
                                              d="M165.74,170.08V131.94l-1.64,9-5.67,29.1h-6L146.78,141l-1.64-9v38.13h-5.52v-49.7h8.81l5.6,30.9,1.64,9,1.57-9.1,5.52-30.82h8.66v49.7Z"/>
                                        <path id="_Compound_Path_7" data-name="&lt;Compound Path&gt;" class="cls-3"
                                              d="M180.14,170.08v-49.7h19.48V126H186.34V141.5H196v5.45h-9.63v17.46h13.28v5.67Z"/>
                                        <path id="_Compound_Path_8" data-name="&lt;Compound Path&gt;" class="cls-3"
                                              d="M218.95,126.12v44h-6.19v-44h-8.43v-5.75h22.91v5.75Z"/>
                                        <path id="_Compound_Path_9" data-name="&lt;Compound Path&gt;" class="cls-3"
                                              d="M233.42,170.08v-49.7H252.9V126H239.62V141.5h9.63v5.45h-9.63v17.46H252.9v5.67Z"/>
                                        <path id="_Compound_Path_10" data-name="&lt;Compound Path&gt;" class="cls-3"
                                              d="M269.77,149.11h-3.43v21h-6.19v-49.7h12.09c6.34,0,9.93,3.21,9.93,10.07V139c0,4.33-1.87,7.91-6,9.25,0-.07,6.72,21.87,6.72,21.87h-6.64Zm1.79-5.37c2.84,0,4.4-1.64,4.4-4.78v-8.81c0-2.54-1-4.18-3.73-4.18h-5.9v17.76Z"/>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </a>

                <form id="topheadersearch" class="navbar-form pull-right" role="search" action="/seje/isci/">
                    <div class="form-group">

                        <div class="header-searchhide">
                            <div class="header-search">
                                <div class="search-input-header-prepend">
                                    <span class="glyphicon glyphicon-search"></span>
                                </div>
                                <input type="text" class="search-input-header form-control"
                                       placeholder="Vpiši iskalni niz" name="q">
                                <div class="search-input-header-append xclose">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </div>
                            </div>
                        </div>
                        <span class="searchiconbuttton">
                            <svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet"
                                 xmlns="http://www.w3.org/2000/svg" class="search-icon">

                                <g>
                                    <title>background</title>
                                    <rect fill="none" id="canvas_background" height="102" width="102" y="-1" x="-1"/>
                                </g>
                                <g>
                                    <title>Layer 1</title>
                                    <path class="svg_1"
                                          d="m101,93.254997l-31.361,-31.361996c4.902,-6.543003 7.556999,-14.458 7.556999,-22.780003c0,-10.179998 -3.965996,-19.747999 -11.163002,-26.945999c-7.195995,-7.199 -16.763996,-11.162 -26.945995,-11.162c-10.179001,0 -19.748001,3.963 -26.945002,11.162c-14.856,14.856001 -14.856,39.032001 -0.002,53.889999c7.197999,7.198997 16.766999,11.163002 26.945998,11.163002c8.338001,0 16.264,-2.663002 22.815002,-7.581001l31.356003,31.356003l7.742996,-7.740005zm-61.915001,-25.962997c-7.525999,0 -14.603998,-2.931 -19.926998,-8.251999c-5.323001,-5.323002 -8.254001,-12.401001 -8.254001,-19.929001c0,-7.528 2.932,-14.604 8.255,-19.927c5.323,-5.321 12.400999,-8.252 19.926998,-8.252c7.529003,0 14.606003,2.931 19.926003,8.252999c10.987999,10.987001 10.987999,28.866999 0,39.855001c-5.322002,5.320999 -12.396999,8.251999 -19.927002,8.251999z"
                                          fill="#505050"/>
                                </g>
                            </svg>
                        </span>
                    </div>
                </form>

            </div>

            <div class="collapse-not navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="<%= getActiveMenu("poslanci") %>"><a href="/poslanci">Poslanci</a></li>
                    <li class="<%= getActiveMenu("poslanske-skupine") %>"><a href="/poslanske-skupine">Poslanske
                            skupine</a></li>
                    <li class="<%= getActiveMenu("seje,S") %>"><a href="/seje">Seje</a></li>
                </ul>


            </div>
        </nav>

    </div>
</header>
<div class="container">
