<% if (mp.end_time) { %>
<style>
body > .container {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}
</style>
<% } %>

<%
  var classPrefix = mp.group && mp.group.acronym ? mp.group.acronym.toLowerCase().replace(/[ +,]/g, '_') : '';
  var classes = classPrefix && ['background', 'fill', 'border'].map(c => `${classPrefix}-${c}`).join(' ');
%>

<div class="member-container">
  <div class="row header text-center">
    <div class="col-lg-12">
      <img src="<%- mp.image || (config.urls.cdn + '/img/people/square/null.png') %>" class="media-object img-circle session-logo person-logo <%- classes %>">
      <h1><%- mp.name %></h1>
      <h2><%= mp.group ? mp.group.name ? mp.group.name : mp.group.acronym ? mp.group.acronym : '' : '' %></h2>
      <h3><!-- <%- mp.group && mp.group.is_coalition ? i18n('general.coalition') : i18n('general.opposition') %> --></h3>
      <% if (mp.end_time) { %>
      <h3><%- i18n('general.inactive') %></h3>
      <% } %>
      <% if (typeof activeTab !== 'undefined') { %>
      <div class="group-container-menu">
        <ul class="clearfix">
          <li><a href="/<%- sm.member.base %>/<%- mp.slug %>/<%- sm.member.overview %>" class="<%- activeTab === 'pregled' ? 'active' : '' %> nav-icon nav-icon-overview"><%- i18n('general.overview') %></a></li>
          <li><a href="/<%- sm.member.base %>/<%- mp.slug %>/<%- sm.member.votings %>" class="<%- activeTab === 'glasovanja' ? 'active' : '' %> nav-icon nav-icon-votings"><%-i18n('general.voting') %></a></li>
          <li><a href="/<%- sm.member.base %>/<%- mp.slug %>/<%- sm.member.speeches %>" class="<%- activeTab === 'govori' ? 'active' : '' %> nav-icon nav-icon-speeches"><%- i18n('general.speeches') %></a></li>
        </ul>
      </div>
      <% } %>
    </div>
  </div>
</div>
