<%- await include('../_partials/header.ejs') %>

<%- await include('./_header.ejs') %>

<div class="row">
  <div class="col-md-12">
    <%- await fetchNewCard(`/person/votes/?id=${mp.id}&locale=sl`) %>
  </div>
  <div class="col-md-6">
    <%- await fetchNewCard(`/person/most-votes-in-common/?id=${mp.id}&locale=sl`) %>
  </div>
  <div class="col-md-6">
    <%- await fetchNewCard(`/person/least-votes-in-common/?id=${mp.id}&locale=sl`) %>
  </div>
  <div class="col-md-6">
    <%- await fetchNewCard(`/person/neujemanje-s-poslansko-skupino/?id=${mp.id}&locale=sl`) %>
  </div>
</div>

<%- await include('../_partials/footer.ejs') %>
