<%- await include('../_partials/header.ejs') %>

<%- await include('./_header.ejs') %>

<div class="row">
  <div class="col-md-12">
    <!-- TODO -->
    <%- await fetchCard('/person/speeches/', mp.id, { customUrl: `{isci}/search/speeches?people=${mp.id}`, state: { person: mp.id } }) %>
  </div>
  <div class="col-md-6">
    <%- await fetchCard('/person/tfidf/', mp.id, { "showExportButton": true }) %>
  </div>
  <div class="col-md-6">
    <%- await fetchCard('/person/number-of-spoken-words/', mp.id, { "showExportButton": true }) %>
  </div>
  <div class="col-md-6">
    <%- await fetchCard('/person/average-number-of-speeches-per-session/', mp.id, { "showExportButton": true }) %>
  </div>
</div>

<%- await include('../_partials/footer.ejs') %>
