<%- await include('../_partials/header.ejs') %>

<%- await include('./_header.ejs') %>

<div class="row">
  <div class="col-md-12">
    <!-- TODO -->
    <%- await fetchCard('/p/govori/', mp.id, { customUrl: `{isci}/search/speeches?people=${mp.id}`, state: { person: mp.id } }) %>
  </div>
  <div class="col-md-6">
    <%- await fetchNewCard(`/person/tfidf/?id=${mp.id}&locale=sl`) %>
  </div>
  <div class="col-md-6">
    <%- await fetchNewCard(`/person/stevilo-izgovorjenih-besed/?id=${mp.id}&locale=sl`) %>
  </div>
  <div class="col-md-6">
    <%- await fetchNewCard(`/person/povprecno-stevilo-govorov-na-sejo/?id=${mp.id}&locale=sl`) %>
  </div>
  <div class="col-md-6">
    <%- await fetchNewCard(`/person/vocabulary-size/?id=${mp.id}&locale=sl`) %>
  </div>
  <div class="col-md-6">
    <%- await fetchNewCard(`/person/stilne-analize/?id=${mp.id}&locale=sl`) %>
  </div>
</div>

<%- await include('../_partials/footer.ejs') %>
