<%- await include('../_partials/header.ejs') %>

<%- await include('./_header.ejs') %>

<div class="row">
  <div class="col-md-12">
    <%- await fetchCard('/p/govori/', mp.id, { customUrl: `{isci}/search/speeches?people=${mp.id}`, state: { person: mp.id } }) %>
  </div>
  <div class="col-md-6">
    <%- await fetchCard('/p/tfidf/', mp.id) %>
  </div>
  <div class="col-md-6">
    <%- await fetchCard('/p/stevilo-izgovorjenih-besed/', mp.id) %>
  </div>
  <div class="col-md-6">
    <%- await fetchCard('/p/povprecno-stevilo-govorov-na-sejo/', mp.id) %>
  </div>
  <div class="col-md-6">
    <%- await fetchCard('/p/besedni-zaklad/', mp.id) %>
  </div>
  <div class="col-md-6">
    <%- await fetchCard('/p/stilne-analize/', mp.id) %>
  </div>
</div>

<%- await include('../_partials/footer.ejs') %>
