<%- await include('../_partials/header.ejs') %>

<%- await include('./_header.ejs') %>

<div class="row">
  <div class="col-md-6">
    <%- await fetchNewCard(`/person/basic-information/?id=${mp.id}&locale=sl`) %>
  </div>
  <div class="col-md-6">
    <%- await fetchNewCard(`/person/zadnje-aktivnosti/?id=${mp.id}&locale=sl`) %>
  </div>
  <div class="col-md-12">
    <%- await fetchNewCard(`/person/prisotnost-skozi-cas/?id=${mp.id}&locale=sl`) %>
  </div>
  <div class="col-md-6">
    <%- await fetchNewCard(`/person/poslanska-vprasanja-in-pobude/?id=${mp.id}&locale=sl`) %>
  </div>
  <div class="col-md-6">
    <%- await fetchNewCard(`/person/stevilo-poslanskih-vprasanj-in-pobud/?id=${mp.id}&locale=sl`) %>
  </div>
  <div class="col-md-6">
    <%- await fetchNewCard(`/person/prisotnost-na-glasovanjih-sej/?id=${mp.id}&locale=sl`) %>
  </div>
  <div class="col-md-6">
    <%- await fetchNewCard(`/person/clanstva/?id=${mp.id}&locale=sl`) %>
  </div>
</div>

<%- await include('../_partials/footer.ejs') %>
