<% include ../../partials/header.ejs %>


<div class="member-container">
    <div class="row header text-center">
        <div class="col-lg-12">

            <img src="https://cdn.parlameter.si/v1/parlassets/img/people/square/<%- mp.gov_id %>.png"
                 class="media-object img-circle session-logo <%- mp.party.acronym.toLowerCase().replace(/ /g, '_') %>-background  <%- mp.party.acronym.toLowerCase().replace(/ /g, '_') %>-fill  <%- mp.party.acronym.toLowerCase().replace(/ /g, '_') %>-border "/>

            <h1><%- mp.name %></h1>
            <font class="party"><%= mp.party.acronym %></font>
            <br/>
            <font class="partyiscoa">
                <%=(mp.party.is_coalition)?"koalicija":"opozicija"%>
            </font>

            <div class="member-container-menu">
                <ul class="clearfix">
                    <li>
                        <a href="/p/<%- slug %>/pregled">Pregled</a>
                    </li>
                    <li>
                        <a href="/p/<%- slug %>/glasovanja" class="active">Glasovanja</a>
                    </li>
                    <li>
                        <a href="/p/<%- slug %>/govori">Govori</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="col-md-6 ">
    <%- views.glasovanjaPoslanec %>
</div>
<div class="col-md-6 ">
    <%- views.razrezGlasovanj %>
</div>
<div class="col-md-6 ">
    <%- views.najveckratEnako %>
</div>
<div class="col-md-6 ">
    <%- views.najmanjkratEnako %>
</div>

<% include ../../partials/footer.ejs %>

